.admin-list .board-list li:nth-child(3){
    background-color: #c3c3c3;
}

/* 테이블 내용 tr */
table tr td:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-content table colgroup col:first-child {
    width: 5%;
}

.list-content table colgroup col:nth-child(2) {
    width: 35%;
}

.list-content table colgroup col:nth-child(3) {
    width: 15%;
}

.list-content table colgroup col:nth-child(4) {
    width: 15%;
}

.list-content table colgroup col:nth-child(5) {
    width: 15%;
}