<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/shell/myshell.css" type="text/css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script th:inline="javascript" src="/js/shell/myshell.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="/js/shell/checkOwnShell.js"></script>
    <title>my shell</title>
</head>


<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">
        

        <!-- 캘린더 부분 -->
        <section id="ms3">
            <h1 class="d-none">캘린더</h1>
            <div id='calendar'></div>
        </section>


        <!-- Todo와 Schedule 리스트 부분 -->
        <section id="ms4">
            <h1 class="d-none">일정 리스트</h1>

            <!-- 날짜 출력 부분 -->
            <div class="ms-today" data-aos="flip-down" data-aos-duration="2000">
                <img src="/images/profile/circle.png">
                <span class="ms-today-day flip-effect"></span>
            </div>

            <!-- Todo List Box 부분-->
            <div class="schedule todo-list-box">
                <div class="title-part">
                    <p class="schedule-titles">할 일.</p>
                    <!-- todo 편집 버튼 (삭제 버튼 생성) -->
                    <button class="show-del-btn d-none">•••</button>
                </div>

                <!-- Todo input form 생성되는 자리 -->
                <div id="todo-add-form-section"></div>

                <!-- Todo List 부분 -->
                <ul class=todoListSection id="mstodoList">
                    <li class="todoList" th:each="t : ${todoList}">
                        <div class="content">
                            <input class="todo-checkbox" type="checkbox" th:checked="${t.statement}"
                                th:data-id="${t.id}" disabled>
                            <p class="todo-content" th:text="${t.content}">소금빵 사러가기🥐</p>
                            <button class="todo-delete-button" th:data-id="${t.id}">x</button>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Schedule List Box 부분-->
            <div class="schedule">
                <div class="title-part">
                    <p class="schedule-titles">일정.</p>
                </div>
                <!-- Schedule List 부분 -->
                <ul class=scheduleListSection>
                    <li class="scheduleList" th:each="s : ${scheduleList}">
                        <div class="content">
                            <a class="sche-link" th:href="@{../schedule/detail(id=${s.id})}" 
                            th:data-id="${s.id}" th:text="${s.title}">비색의 탄환</a>
                        </div>
                        <div class="tag">
                            <!-- <button></button> -->
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </section>

        
        <!--  < + > 작성 버튼 (하단 fixed) 부분-->
        <section class="plusbox d-none">
            <h1 class="d-none">작성</h1>
            <div class="plus">+</div>

            <div class="plusDetail">
                <!-- 할 일(todo) 추가 버튼 -->
                <div class="plus-todo">할 일</div>
                <!-- 일정(schedule) 추가 버튼 -->
                <div class="plus-schedule"><a href="/schedule/reg">일정</a></div>
            </div>
            
        </section>

    </main>
    <!-- /wrap -->
</body>

</html>