<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/shell/myshell.css" type="text/css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <!-- <script src="/js/shell/shell-menu.js"></script> -->
    <!-- <script src='/fullcalendar/dist/index.global.js'></script> -->
    <script th:inline="javascript" src="/js/shell/myshell.js"></script>
    <title>my shell</title>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">

        <section id="ms3">
            <h1 class="d-none">캘린더</h1>
            <div id='calendar'></div>
        </section>

        <section id="ms4">
            <h1 class="d-none">일정 리스트</h1>
            
            <div class="ms-today" data-aos="flip-down" 
            data-aos-duration="1000">
                <img src="/images/profile/circle.png">
                <span class="ms-today-day"></span>
           </div>
            <div class="schedule"  data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <div class="todo-title-part">
                    <p>to do.</p>
                    <button class="show-del-btn">편집</button>
                </div>
                <!-- 투두 인풋폼 생성되는 자리 -->
                <div id="todo-add-form-section"></div>

                <ul class=todoListSection id="mstodoList">
                    <li class="todoList" th:each="t : ${todoList}">
                        <div class="content">
                            <input class="todo-checkbox" type="checkbox" th:checked="${t.statement}" th:data-id="${t.id}">
                            <!-- <span id="todoItem"></span> -->
                            <p class="todo-content" th:text="${t.content}">소금빵 사러가기🥐</p>
                            <button class="todo-delete-button" th:data-id="${t.id}">x</button>
                        </div>
                        <!-- <div class="tag"> -->
                            <!-- <button>@채원</button> -->
                        <!-- </div> -->
                    </li>
                </ul>
            </div>

            <div class="schedule"  data-aos="fade-left"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            >
                <p>일정.</p>
                <ul class = scheduleListSection>
                    <li class="scheduleList" th:each="s : ${scheduleList}">
                        <div class="content">
                                <!-- <span id="scheduleItem"></span> -->
                                <a th:href="@{../schedule/detail(id=${s.id})}" th:data-id="${s.id}" th:text="${s.title}">🎥 비색의 탄환</a>
                                <!-- <p class="d-none" th:attr="data-schedule=${s.title}"></p> -->
                                <!-- <p class="d-none scheduledate" th:attr="data-schedule=${#dates.format(s.startDate, 'yyyy-MM-dd')}"></div> -->
                            </div>
                        <div class="tag">
                            <!-- <button></button> -->
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </section>

        <section id="dayDetail" class="ms-hidden">
            <h1 class="d-none">일정 디테일</h1>
            <div class="modal-content">
                <button class="closeButton">닫기</button>
                <!-- 섹션 내용 -->
            </div>
        </section>

        <section class="plusbox">
            <h1 class="d-none">작성</h1>
            <div class="plus">+</div>
            <div class="plusDetail">
                <div class="plus-todo"><a href="">할 일</a></div>
                <div class="plus-schedule"><a href="/schedule/reg">일정</a></div>
                <button onclick="openSchedulePostModal()">모달호출</button>
            </div>
        </section>


    </main>
    <!-- /wrap -->
</body>

</html>