<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{inc/layout}">
<head>
    <link href="/css/shell/myshell.css" type="text/css" rel="stylesheet" >
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <!-- <script src="/js/shell/shell-menu.js"></script> -->
    <script src="/js/shell/myshell.js"></script>
    <title>my shell</title>
</head>
<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">

            <section id = "ms3">
            <h1 class="d-none">캘린더</h1>
            <div id='calendar'></div>
        </section>

        <section id = "ms4">
            <h1 class="d-none">일정 리스트</h1>
            <div class = "today">
                <img src="/images/profile/circle.png">
                <span class="today-day"></span>
            </div>
            
                <div class="schedule">
                    <p1>to do.</p1>
                    <ul>

                        <li>
                            <div class="content">
                                <input type="checkbox">
                                <p>소금빵 사러가기🥐</p> 
                            </div>
                            <div class="tag">
                                <button>@채원</button>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <input type="checkbox">
                                <p class="task">마라탕 먹기</p> 
                            </div>
                            <div class="tag">
                                <button>@도원</button>
                                <button>@예린</button>
                                <button>@채원</button>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <input type="checkbox">
                                <p>http강의 듣기👩🏻‍💻</p> 
                            </div>
                            <div class="tag">
                                <!-- <button></button> -->
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="schedule" >
                    <p><br><br></p>
                    <p1>일정.</p1>
                    <ul>
                        <li class="scheduleList" th:each="s : ${list}">
                            <div class="content" >
                                <p th:text="${s.title}">🎥 비색의 탄환 </p> 
                            </div>
                            <div class="tag">
                                <button>@예린</button>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p>🎂 누군가의 생일</p> 
                            </div>
                            <div class="tag">
                                <!-- <button></button> -->
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p>📝 시험</p> 
                            </div>
                            <div class="tag">
                                <!-- <button></button> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="dayDetail" class="ms-hidden">
            <h1 class="d-none">일정 디테일</h1>
            <div class="modal-content">
                <button class="closeButton">닫기</button>
                <!-- 섹션 내용 -->
            </div>
        </section>

    <section class="plusbox">
        <h1 class="d-none">작성</h1>
         <div class="plus">+</div>
         <div class="plusDetail">
            <div class="plus-todo"><a  href="">할 일</a></div>
            <div class="plus-schedule"><a href="/schedule/post">일정</a></div>
         </div>
    </section>


    </main>
    <!-- /wrap -->
</body>
</html>