<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{inc/layout}">
<head>
    <link href="/css/shell/main-ourshell.css" type="text/css" rel="stylesheet" >
    <script src="/js/shell/ourshellCalendar.js"></script>
    <script src="/js/shell/ourShell.js"></script>
    <title>Pearl-ing</title>
</head>
<body>

     
        <!-- wrap -->
        <main layout:fragment="content" class="wrap">
            
            <section id = "m2-today" class="m2-today">
                <h1 class="d-none">오늘의 날짜</h1>
                <button class = todayLeft></button>
                <div class = "dateBox">
                    <div class = "month">
                        <p class = "month-font"><span class="today-m"></span></p>
                    </div>
                    <div class= "day">
                        <p class = "day-font">
                            <span class="today-day"></span>
                            <br>
                            <span class="today-date"></span>
                        </p>
                    </div>
                </div>
            <button class="todayRight"></button>
            </section>
            
            <section id = m4-friendSchedule >
                <h1 class="d-none">친구 일정</h1>
                <div class = friendScheduleList id="os-fl"> 
                </div>
            </section>
   
            

    </main> <!-- /wrap -->

    <!-- footer -->
    <!-- <footer id="footer"></footer> -->


</body>
</html>