<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{inc/layout}">
<head>
    <link href="/css/shell/main-ourshell.css" type="text/css" rel="stylesheet" >
    <script src="/js/shell/main-ourshell.js"></script>
    <title>Pearl-ing</title>
</head>
<body>

        <!-- header
        <header id="header"></header> -->   
        <!-- <div th:insert="template/inc/shellmenu :: shellmenu"></div> -->
        <!-- <th:block th:replace="template/inc/shellmenu :: shellmenu"></th:block> -->

        <!-- wrap -->
        <main layout:fragment="content" class="wrap">
            
            <section id = "m2-today" class="m2-today">
                <h1 class="d-none">오늘의 날짜</h1>
                <button class = todayLeft></button>
                <div class = "dateBox">
                    <div class = "month">
                        <p class = "month-font"><span class="today-m"></span></p>
                    </div>
                    <div class= "day">
                        <p class = "day-font">
                            <span class="today-day"></span>
                            <br>
                            <span class="today-date"></span>
                        </p>
                    </div>
                </div>
            <button class="todayRight"></button>
            </section>
            
            <section id = "m3-friends">
                <h1 class="d-none">친구 리스트</h1>
                <div class = "findFriend">
                    <a class = "findFriend-a" href="/setting/follow-list">
                        <p>🔎 친구 관리 ></p>
                    </a>
                </div>
                <ul class = "friendList">
                    <li class="fr" th:each="f : ${friendList}">
                        <a href="./others-shell" th:href="@{/shell/myshell/{id}(id=${f.followerId})}">
                            <img src="/images/profile/profile_yr.png" th:src="@{'/resources/img/' + ${f.profileImage}}">
                            <p th:text="${f.nickname}">탐정</p>
                        </a>
                    </li>
                </ul>    
            </section>

            <section id = m4-friendSchedule >
                <h1 class="d-none">친구 일정</h1>
                <div class = friendScheduleList>
                    <ul class = "friendScheduleList">
                        <li class="fs1" th:each="f : ${friendList}">
                             <div class = "profile-x">
                                <img src="/images/profile/profile_yj.png" th:src="@{'/resources/img/' + ${f.profileImage}}">
                                <p th:text="${f.nickname}">연주</p>
                            </div>
                            <div class = "scheduleContents">
                                <ul>
                                    <li>
                                        <div class="content">
                                        <p>☑︎ 마라탕 먹으러가기</p> 
                                        </div>
                                        <div class="tag">
                                            <button>@나</button>
                                            <button>@채원</button>
                                            <button>@도원</button>
                                            <button>@예린</button>
                                        </div>
                                    </li>
                                    <li><p>☑︎ 소금빵 사러가기</p>
                                        <div class="tag">
                                            <button>@나</button>
                                            <button>@채원</button>
                                        </div>
                                    </li>
                                    <li><p>☑︎ http 강의듣기</p>  <div class="tag"><button>@나</button></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>


    </main> <!-- /wrap -->

    <!-- footer -->
    <!-- <footer id="footer"></footer> -->


</body>
</html>