 
  /* 모바일 규격 */
  @media screen and (max-width: 768px) {
}

  /* PC 규격 */
  @media screen and (min-width: 769px) {

    .wrap{
        width: 100%;
    }
}


/* ----------------- account ---------------- */
.account-click{
    border: none;
    background: url(/images/search/account-color.png) no-repeat -1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px;
    gap: 10px;

    width: 56px;
    height: 74px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myshell-click{
    border: none;
    background: url(/images/search/my-shell.png) no-repeat -1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px;
    gap: 10px;
    
    width: 51px;
    height: 73px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.non-result{
    display: flex;
    flex-direction: row;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 10pt;
    font-weight: 620;
    text-align: center;
}

.non-result p:first-child{
    color: rgba(165, 135, 224, 1) !important;
}

.account-list{
    padding-left: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    gap: 30px;
    width: 90%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: auto;
    margin-top: 5px;
}

.account-list li:first-child{
    margin-top: 25px;
}

.account-box{
    display: flex;
    flex-direction: row;
    place-items: center;
    width: 100%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.account-box > * {
    margin-left: 10px; 
}

.account-box > a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* ----------------- shell ---------------- */
.detail-part{
    margin-top: 20px;
}

#click-menu{
    display: flex;
    width: 91.5%;
    height: 100%;
    justify-content: space-around;
    place-items: center;

    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;    
}

.myshell-list{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 30px;

    width: 90%;
    height: 100%;
 
    background: #FFFFFF;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    flex: none;
    order: 2;
    flex-grow: 0;

    margin: auto;
    margin-top: 5px;
}

.todo-box{
    margin-left: 20px;
}

.todo-list{
    margin-top: 15px;
    background: url(/images/search/todo.png);
    width: 298px;
    height: 23px;
    margin-bottom: 15px;
}

.search-lists{
    margin-bottom: 35px;
}

.todo-statement{
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-bottom: 20px;
}

.todo-statement > * {
    margin-left: 10px; 
}

.todo-statement span {
    font-size: 14px;
    font-weight: 600;
}

.todo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
    
    font-weight: 515;
    letter-spacing: 0.15em;

    color: #615E5E;
}

.todo-content > input{
    margin-right: 5px;
}

.non-result1{
    display: flex;
    flex-direction: row;

    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 10pt;
    font-weight: 620;
    text-align: center;
}

.non-result1 p:first-child{
    color: rgba(165, 135, 224, 1);
}

.schedule-box{
    margin-left: 20px;
}

.schedule-list{
    margin-top: 15px;
    background: url(/images/search/schedule.png);
    width: 298px;
    height: 23px;
    margin-bottom: 15px;
}

.schedule-statement{
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-bottom: 20px;
}

.schedule-statement > * {
    margin-left: 10px; 
}

.schedule-statement span {
    font-size: 13px;
    font-weight: 600;
}

.schedule-content{
    margin: 12px;
    font-weight: 515;
    letter-spacing: 0.15em;
    color: #615E5E;
}

.schedule-box>content>p{
    margin-bottom: 12px;
}

.non-result2{
    display: flex;
    flex-direction: row;

    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 10pt;
    font-weight: 620;
    text-align: center;
}

.non-result2 p:first-child{
    color: rgba(165, 135, 224, 1);
}