<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <title>Document</title>
    <link href="/css/notice/notice-detail.css" type="text/css" rel="stylesheet">
    <!-- <script src="/js/header/header.js"></script> -->
</head>
<body>
    <!-- header -->
    <!-- wrap -->
    <main class="wrap" layout:fragment="content">
        <div class="notice-icon"></div>
        <div class="notice-list">
            <h2 class="d-none">공지사항 내용</h2>
            <div class="notice-box">
                <div class="notice-content">
                    <p th:text="${notice.title}">다이어리 공개범위 설정 변경의 건</p>
                    <p th:text="${notice.content}">...</p>
                </div>
                <p th:text="${#dates.format(notice.regdate, 'yyyy-MM-dd')}" class="notice-date">2023/04/22</p>
            </div>
        </div>
    </main>
    <!-- /wrap -->
</body>
</html>