<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <title>Document</title>
    <link href="/css/notice/notice-main.css" type="text/css" rel="stylesheet">
    <!-- <script src="/js/header/header.js"></script> -->
</head>

<body>
    <!-- header -->

    <!-- wrap -->
    <main class="wrap" layout:fragment="content">
        <div class="notice-icon"></div>
        <div class="notice-list notice" th:each="n : ${list}">
            <h2 class="d-none">공지사항 목록</h2>
            <div class="notice-box">
                <div class="notice-content">
                    <a href="detail" th:href="@{../notice/detail(id=${n.id})}">
                        <p th:text="${n.title}">다이어리 공개범위 설정 변경의 건</p>
                    </a>
                </div>
                <p class="notice-date" th:text="${#dates.format(n.regdate, 'yyyy-MM-dd')}">2023/04/22</p>
            </div>
        </div>
    </main>
    <!-- /wrap -->
</body>

</html>