<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.DiaryRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Diary">
      select *
      from diary
   </select>
	<select id="findById" resultType="com.pearling.web.entity.Diary" parameterType="Integer">
		select *
		from diary
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
	</select>
	<insert id="save">
		insert into 
		diary(title, content, view, member_id, diary_scope_id) 
		values(#{title},#{content},#{view},#{memberId},#{diaryScopeId}) 
	</insert>
   
</mapper>