<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.DiaryRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Diary">
      select *
      from diary order by date
   </select>
	<select id="findById" resultType="com.pearling.web.entity.Diary" parameterType="Integer">
		select *
		from diary
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
	</select>
	<select id="findByDate" resultType="com.pearling.web.entity.Diary">
		select *
		from diary
	<trim prefix="where" prefixOverrides="AND|OR"> 
		<if test="date != null">
		date = #{date}
		</if>
		<if test="memberId != null">
		AND member_id = #{memberId}
		</if>
	</trim>
	</select>
	<insert id="save">
		insert into 
		diary(date, title, content, view, member_id, diary_scope_id) 
		values(#{date},#{title},#{content},#{view},#{memberId},#{diaryScopeId}) 
	</insert>
	<update id="update">
	UPDATE diary
	<set>
		<if test="date != null">date = #{date},</if>
		<if test="title != null">title = #{title},</if>
		<if test="content != null">content = #{content},</if>
		<if test="diaryScopeId != null">diary_scope_id = #{diaryScopeId},</if>
	</set>
	WHERE id = #{id}
	<!-- <if test="id == null">AND id IS NULL</if> -->
	</update>
	<delete id="delete">
		delete from diary where id=#{id}
	</delete>
   
</mapper>