<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.FollowRepository">

<select id="findById" resultType="com.pearling.web.entity.Follow">
   select *
		from follow
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
</select>

 <insert id="addFollow" parameterType="int">
    insert into follow (follower_id, following_id)
    values (#{followerId}, #{followingId})
 </insert>

 <delete id = "deleteFollow" parameterType="int">
    delete from follow
    where id = #{id}
 </delete>

  <select id="findFollowingCount" resultType="int" parameterType="int">
   SELECT COUNT(*) FROM follow
    JOIN member ON follow.following_id = member.id
    WHERE member.id = #{followingId}
 </select>

 <select id="findFollowerCount" resultType="int" parameterType="int">
   SELECT COUNT(*) FROM follow
    JOIN member ON follow.follower_id = member.id
    WHERE member.id = #{followerId}
 </select>

 <select id="findFollowersList" resultType="com.pearling.web.entity.Follow">
   SELECT m.*, f.id as status_id,
    EXISTS (
        SELECT 1
        FROM follow
        WHERE following_id = #{memberId} AND follower_id = m.id
    ) AS is_follower
   FROM member m
   JOIN follow f ON f.following_id = m.id
   WHERE f.follower_id = #{memberId}                 
 </select>

  <select id="findFollowingsList" resultType="com.pearling.web.entity.Follow">
   select m.*, f.id status_id
   from member m
   join follow f on f.follower_id = m.id
   where f.following_id = #{memberId}
 </select>
</mapper>