<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.GuestbookRepository">
  <!-- findAll 쿼리에 검색 조건 추가 -->
   <select id="findAll" resultType="Guestbook">
      select *
      from guestbook
      limit #{offset}, #{pageSize}
   </select>
   <select id="findAllWithQuery" resultType="Guestbook">
      select *
      from guestbook
      <where>
         <if test="query != null and query != ''">
            and content like concat('%', #{query}, '%')
         </if>
      </where>
      limit #{offset}, #{pageSize}
   </select>
   <select id="getTotalCountWithQuery" resultType="int">
      SELECT COUNT(*) FROM guestbook
      <where>
         <if test="query != null and query != ''">
            and content like concat('%', #{query}, '%')
         </if>
      </where>
   </select>
   <select id="findByAll" resultType="Guestbook">
      select *
      from guestbook
      <if test="toId != null">
         where to_id = #{toId}
      </if>
      order by regdate desc
   </select>
   <select id="findById" resultType="GuestbookView">
      select *
      from guestbook
      where id = #{id}
   </select>
   <select id="count" resultType="int">
      SELECT COUNT(*) FROM guestbook
      <if test="toId != null">
         WHERE to_id = #{toId}
      </if>
   </select>
   <insert id="insert" parameterType="com.pearling.web.entity.Guestbook">
      insert into guestbook (content, regdate, from_id, to_id)
      values (#{content}, #{regdate}, #{fromId}, #{toId})
   </insert>
   <update id="update" parameterType="com.pearling.web.entity.Guestbook">
      update guestbook
      set content = #{content}
      where id = #{id}
   </update>
   <delete id="delete" parameterType="int">
      delete from guestbook
      where id = #{id}
   </delete>
   <select id="allCount" resultType="int">
      SELECT COUNT(*) FROM guestbook
   </select>
</mapper>
