<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearling.web.repository.MemberRepository">
	<select id="findById" resultType="Member">
		select * from member where id=#{id}
	</select>
	<select id="findByUsername" resultType="Member">
		select * from member where email=#{email}
	</select>
	<select id="findByUserId" resultType="Member">
		select * 
		from member 
		WHERE id=#{id}
	</select>
	<select id="findAll" resultType="Member">
		select *
		from member
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="query != null">
				nickname like '%${query}%'
			</if>			
		</trim>
	</select>
	<select id="findByProviderId" resultType="Member">
		select * from member where provider_id=#{providerId}
	</select>
	<!-- Find member by login ID (email) -->
    <select id="findByLoginId" resultType="Member">
        SELECT *
        FROM member
        WHERE login_id = #{loginId}
    </select>
	<select id="findNicknameById" resultType="java.lang.String">
		SELECT nickname
		FROM member
		WHERE id = #{id}
	</select>
	<!-- findAll 쿼리에 검색 조건 추가 -->
	<select id="findAllAdmin" resultType="Member">
		select *
		from member
		limit #{offset}, #{pageSize}
	</select>
	<select id="findAllWithQuery" resultType="Member">
		select *
		from member
		<where>
			<if test="query != null and query != ''">
				and name like concat('%', #{query}, '%')
			</if>
		</where>
		limit #{offset}, #{pageSize}
	</select>
	<select id="getTotalCountWithQuery" resultType="int">
      SELECT COUNT(*) FROM member
      <where>
         <if test="query != null and query != ''">
            and name like concat('%', #{query}, '%')
         </if>
      </where>
   </select>
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into member
		(id, name, pwd, nickname, email, birth, login_id, provider, provider_id)
		values 
		(#{id}, #{name}, #{pwd}, #{nickname}, #{email}, #{birth}, #{loginId}, 
		(SELECT id FROM social_type WHERE social_type = #{provider}), #{providerId})
	</insert>
	<!-- 이메일 회원 조회 -->
	<select id="findByEmail" resultType="Member">
		select * from member where email=#{email}
	</select>
	<!-- 닉네임 회원 조회 -->
    <select id="findByNickname" resultType="Member">
        SELECT * FROM member WHERE nickname = #{nickname}
    </select>
	<update id="updateMember" parameterType="Member">
        update member
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
			<if test="profileImage != null or profileImage == null">
				profile_image = #{profileImage}
			</if>
        </set>
        where id = #{id}
    </update>
	<update id="updatePwd" parameterType="Member">
        update member
        <set>
            <if test="pwd != null">
                pwd = #{pwd},
            </if>
        </set>
        where id = #{id}
    </update>
	<!-- 회원 삭제 -->
	<delete id="delete" parameterType="Member">
		delete from member where id = #{id}
	</delete>
	<delete id="deleteById" parameterType="int">
        DELETE FROM member WHERE id = #{id}
    </delete>
	<select id="allCount" resultType="int">
      SELECT COUNT(*) FROM member
   </select>
</mapper>