<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.NotificationRepository">
      
   <select id="findById" resultType="Notification">
      select * from notification
      where id=#{id}
   </select>

   <select id="findByUserId" resultType="Notification">
      select * from notification
      where sub_member_id = #{subMemberId} and
      isRead = 0
      order by reg_date desc
   </select>

   <select id="fingByUserIdAndIsRead" resultType="Notification">
      select * from notification
      where sub_member_id = #{subMemberId} and
      isRead = 1
      order by reg_date desc
   </select>
   
   <insert id="save" parameterType="notification">
      insert into notification(pub_member_id, sub_member_id, message, type) 
      values(#{pubMemberId}, #{subMemberId}, #{message}, #{type})
   </insert>
   
	<delete id="delete">
		delete from notification where id=#{id}
	</delete>

   <update id="update">
      UPDATE notification
      <set>
         <if test="isRead != null">isRead = #{isRead}</if>
      </set>
      WHERE id = #{id}
   </update>

   
</mapper>