<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.QaRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Qa">
    SELECT *,
      ROW_NUMBER() OVER (ORDER BY regdate ASC) AS new_id
      FROM (
      SELECT qa.*, 
         CASE WHEN qa_comment.answer IS NOT NULL THEN 1 ELSE 0 END AS qaStatus
      FROM qa
      LEFT JOIN qa_comment ON qa.id = qa_comment.qa_id
      GROUP BY qa.id
      ) AS subquery
      ORDER BY regdate ASC;
   </select>

    <select id="findById" resultType="com.pearling.web.entity.Qa" parameterType="int">
     select * from qa
     where id = #{id}
   </select>

   <insert id="save">
      insert into qa(title, content, member_id, security_check, member_nickname)
      values (#{title}, #{content}, #{memberId}, #{securityCheck}, #{memberNickname});
   </insert>

   <delete id="delete">
      delete from qa
      where id = #{id}
   </delete>
   
   <update id="update">
      update qa
      <set>
         <if test="title != null">title = #{title},</if>
         <if test="content != null">content = #{content},</if>
         <if test="securityCheck != null">security_check = #{securityCheck}</if>
      </set>
   where id = #{id}
   </update>
</mapper>