<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.ScheduleRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Schedule">
      select *
      from schedule 
      left join friend_tag 
      on schedule.id = friend_tag.schedule_id
   </select>
   	<select id="findById" resultType="com.pearling.web.entity.Schedule" parameterType="Integer">
		select *
		from schedule
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
	</select>
	<select id="findAllSch" resultType="Schedule">
		SELECT s.*, m.profile_image
		FROM schedule s
		INNER JOIN member m ON s.member_id = m.id
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="query != null">
			AND s.title LIKE '%${query}%'
			</if>
		</trim>
	</select>
	<select id="findByUserId" resultType="Schedule">
		select * 
		from schedule 
		WHERE member_id = #{memberId};
	</select>
	<select id="findByDate" resultType="Schedule">
		select *
		FROM schedule
		WHERE member_id = #{memberId} 
			AND start_date &lt;= str_to_date(#{date}, '%Y-%m-%d')
			AND end_date  &gt;= str_to_date(#{date}, '%Y-%m-%d');
	</select>
	<select id="findByCurDate" resultType="Schedule">
		SELECT m.id, m.nickname, s.title
		FROM follow f
		JOIN member m ON f.following_id = m.id
		JOIN schedule s ON m.id = s.member_id
		WHERE f.follower_id = #{memberId}
			AND str_to_date(#{date}, '%Y-%m-%d') BETWEEN s.start_date AND s.end_date
			AND s.member_id = m.id
	</select>
		<select id="findAllAdmin" resultType="Schedule">
      select *
      from schedule
      limit #{offset}, #{pageSize}
   </select>
   <select id="findAllWithQuery" resultType="Schedule">
      select *
      from schedule
      <where>
         <if test="query != null and query != ''">
            and title like concat('%', #{query}, '%')
         </if>
      </where>
      limit #{offset}, #{pageSize}
   </select>
   <select id="getTotalCountWithQuery" resultType="int">
      SELECT COUNT(*) FROM schedule
      <where>
         <if test="query != null and query != ''">
            and title like concat('%', #{query}, '%')
         </if>
      </where>
   </select>
	<insert id="save" parameterType="Schedule" useGeneratedKeys="true" keyProperty="id">
		insert into
		schedule(start_date, start_time, end_date, end_time, title, member_id, background_color, latitude, longitude, place)		
		values(#{startDate},#{startTime},#{endDate},#{endTime}, #{title},#{memberId},#{backgroundColor},#{latitude}, #{longitude}, #{place});
	</insert>
	<insert id="saveFriendTag" parameterType="FriendTag">
        INSERT INTO friend_tag (member_id, schedule_id, friend_id)
        VALUES (#{memberId}, #{scheduleId}, #{friendId})
    </insert>
	<update id="update">
		update schedule
		<set>
			<if test="startDate != null">start_date = #{startDate},</if>
			<if test="startTime != null">start_time = #{startTime},</if>
			<if test="endDate != null">end_date = #{endDate},</if>
			<if test="endTime != null">end_time = #{endTime},</if>
			<if test="title != null">title = #{title},</if>
			<if test="backgroundColor != null">background_color = #{backgroundColor},</if>
			<if test="latitude != null">latitude = #{latitude},</if>
			<if test="longitude != null">longitude = #{longitude}</if>
			<if test="place != null">place = #{place}</if>
		</set>
		where id = #{id};
	</update>
	<delete id="delete">
		delete from schedule 
		where id = #{id}
	</delete>
	<delete id="deleteAdmin" parameterType="int">
      delete from schedule
      where id = #{id}
   </delete>
	<select id="allCount" resultType="int">
      SELECT COUNT(*) FROM schedule
   </select>

</mapper>