<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.ScheduleRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Schedule">
      select *
      from schedule 
      left join friend_tag 
      on schedule.id = friend_tag.schedule_id
   </select>
   	<select id="findById" resultType="com.pearling.web.entity.Schedule" parameterType="Integer">
		select *
		from schedule
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
	</select>
</mapper>