<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pearling.web.repository.ScheduleRepository">
   <select id="findAll" resultType="com.pearling.web.entity.Schedule">
      select *
      from schedule 
      left join friend_tag 
      on schedule.id = friend_tag.schedule_id
   </select>
   	<select id="findById" resultType="com.pearling.web.entity.Schedule" parameterType="Integer">
		select *
		from schedule
		<trim prefix="where" prefixOverrides="AND|OR"> 
			<if test="id != null">
			id = #{id}
			</if>
		</trim>
	</select>
	<select id="findAllSch" resultType="Schedule">
		select *
		from schedule
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="query != null">
				title like '%${query}%'
			</if>			
		</trim>
	</select>
	<select id="findByUserId" resultType="Schedule">
		select * 
		from schedule 
		WHERE member_id = #{memberId};
	</select>
	<select id="findByDate" resultType="Schedule">
		select * 
		from schedule 
		WHERE member_id = #{memberId} and start_date = '${date.toString()}';
	</select>
	<insert id="save">
		insert into schedule
		schedule(startDate, startTime, endDate, endTime, location, title, memberId, backgroundColor)		
		values(#{startDate},#{startTime},#{endDate},#{endTime},#{location}, #{title},#{memberId},#{backgroundColor});
	</insert>
	<update id="update">
		update schedule
		<set>
			<if test="startDate != null">start_date = #{startDate},</if>
			<if test="startTime != null">start_time = #{startTime},</if>
			<if test="endDate != null">end_date = #{endDate},</if>
			<if test="endTime != null">end_time = #{endTime},</if>
			<if test="location != null">location = #{location},</if>
			<if test="title != null">title = #{title},</if>
			<if test="memberId != null">member_id = #{memberId},</if>
			<if test="backgroundColor != null">background_color = #{backgroundColor}</if>
		</set>
		where id = #{id};
	</update>
	<delete id="delete">
		delete from schedule 
		where id = #{id}
	</delete>

</mapper>