<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/schedule/schdule-detail.css" type="text/css" rel="stylesheet">
    <script src="/js/schedule/schedule-add.js"></script>
    <script src="/js/system/confirm-modal.js"></script>
    <script src="/js/schedule/schedule-delete-modal.js"></script>
    <script src="/js/schedule/schedule-add-category.js"></script>
    <title>schedule-detail</title>
</head>

<body>

    <main layout:fragment="content" class="wrap" id="wrap">
        <h1 class="d-none">일정 상세확인창</h1>
        <section id="d1">
            <h1 class="d-none">상세내용</h1>

            <!-- 일정 제목 ------------------------------------------------------------------------------------------------------------------ -->

            <div class="schdule-add-title">
                <input class="schedule-add-title-input" type="text" th:value="${schedule.title}">
            </div>
            <!-- 날짜 선택 ------------------------------------------------------------------------------------------------------------------ -->

            <span class="schedule-add-date-title">일정일</span>
            <div class="schedule-add-date">
                <div class="start-date">
                    <sapn>시작일: </sapn>
                    <input type="date" th:value="${#dates.format(schedule.startDate, 'yyyy-MM-dd')}">
                    <input type="time">
                </div>
                <div class="end-date">
                    <sapn>종료일: </sapn>
                    <input type="date" th:value="${#dates.format(schedule.endDate, 'yyyy-MM-dd')}">
                    <input type="time">
                </div>
            </div>

            <!-- 장소 선택 ------------------------------------------ -->
            <div class="schedule-add-location">
                <span>장소</span>
                <input type="text" th:value="${schedule.location}">
            </div>

            <!-- 친구 태그 선택 ------------------------------------------ -->

            <div class="schedule-add-freind-wrap">
                <span>친구 태그</span>
                <div class="tag-box">
                    <!-- <button>@나</button> -->
                    <button>@연주</button>
                    <button>@도원</button>
                    <button>@예린</button>
                </div>
            </div>

            <!-- 컬러팔레트 선택 ------------------------------------------ -->

            <!-- <div class="schedule-add-color-wrap">
                <label for="color-tag">컬러 팔레트</label>
                <div id="box" class="box">
                    <div id="palletBox" class="pallet">
                    </div>
                </div>
                <input type="button" id="color-tag" name="color-tag">
            </div> -->

            <div class="category-wrap">
                <span>카테고리 선택</span>
                <div class="col-box">
                    <div class="col-ball active"></div>
                    <div class="col-ball"></div>
                    <div class="col-ball"></div>
                    <div class="col-ball"></div>
                    <div class="col-ball"></div>
                    <div class="col-ball"></div>
                    <div class="col-ball"></div>
                </div>
            </div>

            <div class="schedule-summit-btns">
                <button type="submit" class="del-btn">삭제</button>
                <button type="submit" class="add-btn">등록</button>
            </div>

        </section>

        <!-- 삭제 모달창 ------------------------------->

        <div id="delete-modal" class="modal">
            <div class="del-modal-content">
                <p>🫧 Message</p>
                <p>일정을 삭제하시겠습니까?</p>
                <div class="del-modal-btns">
                    <button class="del-confirm-yes">예</button>
                    <button class="del-confirm-no">아니오</button>
                </div>
            </div>
        </div>

        <!-- 삭제 모달창 ------------------------------->

        <!-- alert창 ------------------------------->

        <div id="confirm-modal" class="modal">
            <div class="modal-content">
                <p>🫧 Message</p>
                <p>일정 등록이 완료되었습니다.</p>
                <button class="confirm-yes">확인</button>
            </div>
        </div>

        <!-- alert창 ------------------------------->

    </main>

</body>

</html>