<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/schedule/schdule-add.css" type="text/css" rel="stylesheet">
    <script src="/js/schedule/schedule-add.js"></script>
    <script src="/js/system/confirm-modal.js"></script>
    <script src="/js/schedule/schedule-add-category.js"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e8b4720d8d04d4b49b4db3390eb3547b&libraries=services,clusterer,drawing"></script>
    <script src="/js/schedule/map.js"></script>
    <!-- <script src="/js/schedule/addAjax.js"></script> -->
    <title>schedule-add</title>
</head>

<body>
    <!-- header -->

    <main layout:fragment="content" class="wrap">
        <h1 class="d-none">일정 추가창</h1>
        <section id="d1">
            <h1 class="d-none">추가 사항</h1>
            <form method="post" action="/schedule/post" class="send-form">
                <div class="schdule-add-title">
                    <label for="schedule-title">일정 제목</label>
                    <input type="text" id="schedule-title" name="title">
                    <!-- <input type="submit" value="확인"> -->
                </div>
                <!-- 날짜 선택 ------------------------------------------------------------------------------------------------------------------ -->

                <div class="schedule-add-date">
                    <div>
                        <label for="start-date">시작일:</label>
                        <input type="date" id="start-date" name="startDate" value="" min="2000-01-01"
                            max="2099-12-31">
                        <input type="time" name="startTime">
                    </div>
                    <div>
                        <label for="end-date">종료일:</label>
                        <input type="date" id="end-date" name="endDate" value="" min="2000-01-01"
                            max="2099-12-31">
                        <input type="time" name="endTime">
                    </div>
                </div>

                <!-- 장소 선택 ------------------------------------------ -->
                <div class="schedule-add-location">
                    <div class="add-lc">
                        <label for="location-add">장소</label>
                        <input type="text" value="" id="keyword" size="15">
                        <button id="add-map">검색하기</button> 
                    </div>
                    <div class="map1_wrap">
                        <div id="map"></div>
                        <div id="menu1_wrap" class="bg_white">
                            <input type="hidden" id="latitude" name="latitude">
                            <input type="hidden" id="longitude" name="longitude">
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>


                <!-- 친구 태그 선택 ------------------------------------------ -->

                <div class="schedule-add-freind-wrap">
                    <label for="freind-tag">친구 태그</label>
                    <input type="text" value="입력하세요.">
                </div>
                <div class="schedule-add-freind-box">
                    <ul class="friendList">
                        <li class="fr"><img src="/images/profile/profile_yr.png">
                            <p>탐정</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_d.png">
                            <p>감자</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_c.png">
                            <p>진미채</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                        <li class="fr"><img src="/images/profile/profile_yj.png">
                            <p>name</p>
                        </li>
                    </ul>
                </div>

                <!-- 컬러팔레트 선택 ------------------------------------------ -->

                <!-- <div class="schedule-add-color-wrap">
                    <label for="color-tag">컬러 팔레트</label>
                    <div class="sel-category"></div>
                    <div id="box" class="box">
                        <div id="palletBox" class="pallet">
                        </div>
                    </div>
                </div> -->

                <div class="category-wrap">
                    <span>카테고리 선택</span>
                    <div class="col-box">
                        <div class="col-ball active"></div>
                        <div class="col-ball"></div>
                        <div class="col-ball"></div>
                        <div class="col-ball"></div>
                        <div class="col-ball"></div>
                        <div class="col-ball"></div>
                        <div class="col-ball"></div>
                    </div>
                </div>
           
                <!-- 취소, 확인버튼 선택 ------------------------------------------ -->

                <div class="schedule-add-submit">
                    <button class="defence">취소</button>
                    <button class="add-btn defence">확인</button>
                </div>
                
                <!-- 컨펌 모달 ------------------------------------------ -->
                
                <div id="confirm-modal" class="modal">
                    <div class="modal-content">
                        <p>🫧 Message</p>
                        <p>일정이 등록되었습니다.</p>
                        <button type="submit" class="confirm-yes">확인</button>
                    </div>
                </div>
            </form>
            </section>
    </main>

</body>
</html> 