<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/import.css" type="text/css" rel="stylesheet" >
    <link href="/css/admin/index.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <title>Pear-ling 관리자</title>
</head>
<body>
    <header>

    </header>
    <main class="wrap">
        <nav class="admin-menu">
            <h1 class="admin-logo"><a href="/admin/index"><img src="/images/logo/realLogo.svg" alt="logo" ></a></h1>
            <ul class="admin-list">
                <li><a href="/admin/member/admin-member">회원관리</a></li>
                <li>게시판관리<span>></span>
                    <ul class="board-list">
                        <li><a href="/admin/board/admin-schedule">스케줄 관리</a></li>
                        <li><a href="/admin/board/admin-diary">다이어리 관리</a></li>
                        <li><a href="/admin/board/admin-guestbook">방명록 관리</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    
        <section class="member-list">
            <h1>회원 관리</h1>
            
        </section>
    </main>
</body>
</html>