<aside id="sub-menu">
    <div class="sub-menu-wrap">
        <div class="menu-header">
            <p class="sub-close">x</p>
        </div>

        <div class="profile">
            <div class="profile-setting">
                <p class="p-img"><img src="/images/header/profile.png" alt="프로필"/></p>
                <p class="nickname">미스터 포테이토</p>
                <ul class="name-setting">
                    <li class="name">김도원</li>
                    <li class="setting"><a href="/setting/profile">프로필 설정</a></li>
                </ul>
            </div>

            <div class="follow">
                <p><a href="/follow/followerList">팔로워 <span>13</span></a></p>
                <p><a href="/follow/followingList">팔로잉 <span>89</span></a></p>
            </div>
        </div>

        <div class="myshell-list">
            <ul>
                <li><a href="/shell/myshell">캘린더</a></li>
                <li><a href="/diary/list">다이어리</a></li>
                <li><a href="/guestbook/list">방명록</a></li>
            </ul>
        </div>

        <div class="menu-list">
            <ul>
                <li><a href="/setting/profile">프로필 관리</a></li>
                <li><a href="/setting/follow-group">친구 관리</a></li>
                <li><a href="/setting/accountmanage">계정 관리</a></li>
                <li><a href="/setting/calander">캘린더 설정</a></li>
            </ul>
        </div>
    </div>
</aside>