<!--header-wrap-->
<header class="header-wrap">
    <!--header-->
    <div id="header" class="header">
        <h1 class="d-none">펄링</h1>
        <a class="logo"><img src="/images/header/logo.png" alt="logo"/></a>
        <div class="left">
            <div class="find"><a><img src="/images/header/find.png" alt="logo"/></a></div>   
            <div class="menu"><img src="/images/header/menu.png" alt="logo"/></div>
        </div>    
    </div>  
   <!-- header-->

   <!-- 쉘 메뉴 -->
   <div id ="shell-menu">
        <h1 class="d-none">쉘 메뉴</h1>
        <div class="ourShell notselected">
            <a href="/shell/ourshell">
                <!-- <img src="images/main/s1/clamOpen.png"> -->
                <p>our shell</p>
            </a>
        </div>
        |
        <div class="myShell notselected">
            <a href="/shell/myshell">
                <!-- <img src="images/main/s1/clamClose.png"> -->
                <p>my shell</p>
            </a>
        </div>
    </div>
    <!-- 쉘 메뉴 -->

    <!-- 마이쉘 하위메뉴 -->
    <div id="myshell-menu">
        <h1 class="d-none">마이쉘 하위메뉴</h1>
        <a class = "monthly notslelcted" href="/shell/myshell">🌙 먼슬리 ></a>
        <a class = "diary notselected" href="/diary/list">📓 다이어리 ></a>
        <a class = "guestbook notselected" href="/guestbook/list">🫧 방명록 ></a>
    </div>
    <!-- 마이쉘 하위메뉴 -->


    
</header>
 <!--header-wrap-->