.noti-cate-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 20px;

    height: 40px;

    gap: 30px;

    cursor: pointer;
}

.noread-noti-list, .pre-noti-list {
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #9b9b9b;

    width: 150px;
}

.noread-noti-list:hover, .pre-noti-list:hover {
    font-style: italic;
    font-weight: bold;
    color: #797979;
}

#noti-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;
}

.noti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    gap: 4px;

    width: 60%;
    max-width: 600px;
    height: 110px;

    background: rgba(0, 0, 0, 0.45);
    border-radius: 12px;
}

.noti-box {
    display: flex;
    flex-direction: row;

    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.noti-box > :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.noti-box> div >img {
    width: 20px;
    height: 20px;
}

.noti-regdate {
    justify-self: flex-end;
}

.noti-content {
    color: rgba(255, 255, 255, 0.7);
}

.noti-btn-box {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: flex-end;
    gap: 15px;

    width: 100%;
    max-width: 600px;
    height: 80px;
}

.noti-btn-box > button {
    background: rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    border: none;

    width: 60%;
    height: 45px;

    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.01em;

    cursor: pointer;
}

.noti-btn-box > button:hover {
    opacity: 0.8;
}

/* 조회목록이 없을 때, div창 */
.noti-empty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    height: 50px;
    
    color: #797979;
    letter-spacing: -0.01em;

    background: rgba(252, 251, 251, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

}

  /* 모바일 규격 */
  @media screen and (max-width: 768px) {
}

  /* PC 규격 */
  @media screen and (min-width: 769px) {

    main {
        width: 100%;
    }
}
