.following-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.following-follower{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 47px;
}

.following-selection{
    width: 80%;
    height: 47px;
    background: rgba(165, 135, 224, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    flex: none;
    order: 1;
    flex-grow: 0;

    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    place-items: center;

    margin: 22px 22px 35px 22px;
}

.following{
    color:#A587E0;
}

.following-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.following-list > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.following-list>div>ul{
    width: 80%;
}

.following-list>div>ul>li{
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 2fr 4fr;
    place-items: center end;
    margin-bottom: 40px;
} 

.followings
 > li > img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    object-fit: cover; 
    object-position: center;
    margin-right: 15px;
}

.following-list >div> ul > li > :nth-child(2) {
    justify-self: self-start;
}

button{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.04), 
        rgba(0, 0, 0, 0.04)), #FFFFFF;
    letter-spacing: 0.04em;

    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    color: #797979;
    border: none;
}

.following-statement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    
    width: 84px;
    height: 42px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

    /* margin-right: 15%; */
}
