 /* PC 규격 */
 @media screen and (min-width: 769px) {

    .follower-wrap, .ffer-list, .follower-search, .follower-following, .follower-selection, .follower-list, .follower-list>div>ul{
        width: 100%;
  
    }

}

/* 모바일 규격 */
@media screen and (max-width: 768px) {
    
    .follower-following, .ffer-list, .follower-selection, .follower-list, .follower-list>div>ul {
        width: 90%;
    }
    
    .follower-search{
        width: 79%;
    }
}



.follower-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.ffer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.follower-following{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* width: 80%; */
    height: 47px;
}

.follower-search{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-bottom: 30px;
    border-bottom: solid 1px #dddbdb;

}

.search-input{
    display: flex;
    flex-direction: row;

    letter-spacing: -.3px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;

    padding: 10px 12px;
    width: 100%;
    height: 18px;
    align-items: center;
    gap: 5px;
    border-radius: 40px;

}

.search-input img{
    width: 20px;
    height: 20px;
}

.search-input input[type="text"]{
    line-height: 1.43;
    letter-spacing: -.3px;
    border: 0;
    background: none;
    width: 100%;
}


.follower-selection{
    /* width: 80%; */
    height: 47px;

 
    background: rgba(165, 135, 224, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    place-items: center;

    margin: 0px 22px 35px 22px;
}

.follower{
    color:#A587E0;
}

.follower-list>div>ul{
    list-style: none;
    /* width: 80%; */
}

.follower-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
}

.follower-list > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.follower-list>div>ul>li{
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 4fr 2fr;
    place-items: center end;
    margin-bottom: 40px;
}

.followers > li > img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    object-fit: cover; 
    object-position: center;
    margin-right: 15px;
}

.follower-list > div> ul > li > div{
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.follower-list > div> ul > li > div > :nth-child(2){
    color: #A587E0;
}

.follower-list > div>  ul > li > :nth-child(2) {
    justify-self: start;
}

button{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.04), 
        rgba(0, 0, 0, 0.04)), #FFFFFF;
    letter-spacing: 0.04em;

    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    color: #797979;
    border: none;
}


.follower-delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    
    width: 55px;
    height: 30px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

    font-size: 10px;
}

.non-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 40px 0px;
    font-weight: bold;
}

.non-result > div{
    display: flex;
    flex-direction: row;
}