hr{
    background-color: #A587E0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

body{
    animation: fadeIn 1.3s ease-in-out;
}

#l1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.logo-imgs> :nth-child(1) {
    width: 128px;
    height: 129px;
}

.logo-imgs> :nth-child(2) {
    width: 300px;
    height: 43px;
}

.id-pwd-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;

    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
}

.id-pwd-box>label {
    align-self: stretch;
    padding-left: 2%;
    color: #A587E0;
    letter-spacing: 0.1em;
}

.id-pwd-box>input {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15), inset 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

    margin-bottom: 15px;
    padding-left: 15px;

    width: 320px;
    height: 40px;
}

.match-check{
    color: red;
    text-align: center;
}

.l1-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.l1-btns>button {
    background: rgba(165, 135, 224, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

    width: 120px;
    height: 35px;

    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    color: #A587E0;
    letter-spacing: 0.1em;
}

.l1-btns>button:hover {
    background: rgba(252, 251, 251, 0.75);
}

.submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    /* font-family: 'Pretendard-SemiBold'; */
    letter-spacing: 0.1em;
}

.findpsw:hover{
    color: #A587E0;
    font-family: 'Pretendard-SemiBold';

}

.signup:hover{
    color: #A587E0;
    font-family: 'Pretendard-SemiBold';
}


.login-api{
    width: 320px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 50px;
    gap: 10px;
    
    /* 폰트 스타일 */
    color: #A587E0;
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    letter-spacing: 0.1em;
}

.apiImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 5px;
    gap: 30px;
}

.login-api > div > a > img{
    width: 50px;
}