.p_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: 20px;
    margin-bottom: 40px;
}

.eidt-img{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
}

.p-img {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.p-img .profile_img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -6px -6px 9px 0px white, 6px 6px 9px rgba(0, 0, 0, 0.4)
}
  
.custom-file-button{
    margin-top: -30px;
    align-self: flex-end;
}

.change input{
    width: 300px;
    height: 30px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    padding-left: 10px;

    color: #797979;
}

.change li:nth-child(1n){
    margin-bottom: 30px;
    font-weight: bold;
}

.change li:nth-child(2n){
    margin-bottom: 15px;
    font-weight: lighter;
}

.change li:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#nickname{
    width: 210px;
}

/* 취소, 수정 */
.pbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.cancel {
    width: 134px;
    height: 28px;
    margin-left: 5px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

    color: #A587E0;
}

.modify {
    width: 134px;
    height: 28px;
    margin-left: 5px;

    background: rgba(90, 46, 149, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

    color: #A587E0;
}