<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/system/login.css" type="text/css" rel="stylesheet">
    <title>login</title>
</head>

<body>
    <!-- wrap -->
    <div class="wrap">
        <h1 class="d-none">로그인 페이지</h1>
        <section id="l1">
            <h1 class="d-none">아이디(이메일), 비밀번호 입력</h1>
            <!--로고 이미지 ---------------------------------- -->
            <div class="logo-imgs">
                <img src="/images/logo/mainlogo.png" alt="아이콘로고">
                <img src="/images/logo/realLogo.svg" alt="메인로고">
            </div>
            <!--이메일, 비밀번호 입력---------------------------------- -->

            <div class="id-pwd-box">
                <label for="l1-email">아이디 (e-mail)</label>
                <input id="l1-email" type="text" value="">
                <label for="l1-pwd">비밀번호</label>
                <input id="l1-pwd" type="password" value="">
            </div>

            <!--이메일, 비밀번호 입력---------------------------------- -->
            <div class="l1-btns">
                <button><a class="defence" href="/shell/ourshell">로그인</a></button>
                <div class="submenu">
                    <a class="defence findpsw" href="/find-password">비밀번호 찾기</a>
                    <p>|</p>
                    <a class="defence signup" href="/signup">회원가입</a>
                </div>
            </div>
            </form>

            <div class="login-api">
                <hr>
                <h2>간편 로그인</h2>
                <div class="apiImg">
                    <a class="naverlogin" href="">
                        <img src="/images/login/naver_square.png"> 
                    </a>
                    <a class="naverlogin" href="">
                        <img src="/images/login/naver_square.png"> 
                    </a>
                    <a class="naverlogin" href="">
                        <img   src="/images/login/naver_square.png"> 
                    </a>
                </div>
            </div>

        </section>

    </div>
    <!-- /wrap -->

</body>

</html>