<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/system/login.css" type="text/css" rel="stylesheet">
    <script>
        // window.Kakao.init("3d361f30e69314c27438078598f2b011");

        // function kakaoLogin(){
        //     window.Kakao.Auth.login({
        //         scope:'profile_nickname, account_email',
        //         success : function(authObj){
        //             console.log(authObj);
        //             window.Kakao.API.request({
        //                 url:'/v2/user/me',
        //                 success: res => {
        //                     const kakao_account = res.kakao_account;
        //                     console.log(kakao_account)
        //                 }
        //             });
        //         }
        //     });
        // }
    </script>
    <title>login</title>
</head>
<body>
    <!-- wrap -->
    <div class="wrap">
        <h1 class="d-none">로그인 페이지</h1>
        <section id="l1">
            <h1 class="d-none">아이디(이메일), 비밀번호 입력</h1>
            <!--로고 이미지 ---------------------------------- -->
            <div class="logo-imgs">
                <img src="/images/logo/mainlogo.png" alt="아이콘로고">
                <img src="/images/logo/realLogo.svg" alt="메인로고">
            </div>
            <!--이메일, 비밀번호 입력---------------------------------- -->
            <form method="post" action="login">
                <!-- d-pwd-box -->
                <div class="id-pwd-box">
                    <label for="l1-email">아이디 (e-mail)</label>
                    <input id="l1-email" name="username" type="text">
                    <label for="l1-pwd">비밀번호</label>
                    <input id="l1-pwd" name="password" type="password">
                </div>
                <!-- match-check -->
                <div th:if="${param.error}" class="match-check">
                    아이디 또는 비밀번호가 일치하지 않습니다. 
                </div>
                <!-- l1-btns -->
                <div class="l1-btns">
                    <input type="hidden" name="returnURL" th:value="${param.returnURL}" /> 
                    <button type="submit">로그인</button>
                    <div class="submenu">
                        <a class="defence findpsw" href="find-password">비밀번호 찾기</a>
                        <p>|</p>
                        <a 
                        class="defence signup" 
                        href="/signup">회원가입</a>
                    </div>
                </div>
            </form>
            <!-- login-api -->
            <div class="login-api">
                <hr>
                <h2>간편 로그인</h2>
                <!-- apiImg -->
                <div class="apiImg">
                    <a href="/oauth2/authorization/google">구글 로그인</a>
                    <a class="naver login" href="">
                        Naver 로그인
                    </a>
                    <a class="kakao" href="javascript:kakaoLogin();">
                        Kakao 로그인
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- /wrap -->
</body>
</html>