<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{inc/layout}">
<head>
    <link href="/css/import.css" type="text/css" rel="stylesheet" >
    <link href="/css/guestbook/guestbook.css" type="text/css" rel="stylesheet" >
    <script src="/js/guestbook/guestbook.js"></script>
    <script src="/js/header/header.js"></script>
    <title>방명록(친구버전)</title>
</head>
<body>
    <main layout:fragment="content" id="wrap" class="wrap">
        <ul class="clam">
            <li><img src="/images/guestbook/clam_1.png"></li>
            <li><img src="/images/guestbook/clam_2.png"></li>
            <li><img src="/images/guestbook/clam_3.png"></li>
            <li><img src="/images/guestbook/clam_1.png"></li>
            <li><img src="/images/guestbook/clam_2.png"></li>
            <li><img src="/images/guestbook/clam_1.png"></li>
            <li><img src="/images/guestbook/clam_3.png"></li>
            <li><img src="/images/guestbook/clam_1.png"></li>
            <li><img src="/images/guestbook/clam_2.png"></li>
            <li><img src="/images/guestbook/clam_3.png"></li>
            <li><img src="/images/guestbook/clam_3.png"></li>
            <li><img src="/images/guestbook/clam_2.png"></li>
            <li><img src="/images/guestbook/clam_2.png"></li>
            <li><img src="/images/guestbook/clam_1.png"></li>
        </ul>

        <section id="s1">
            <h1 class="d-none">방명록</h1>
            <div class="book">
                <div class="pearl">
                    <p>나 오늘 마라탕 먹으러 감 ㅋ</p>
                </div>
                <p class="date">2023/12/21</p>
            </div>
            <p class="close">x</p>
        </section>

        <div class="black"></div>

        <div class="plus"><a href="post">+</a></div>
    </main>
</body>
</html>