<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/guestbook/guestbook.css" type="text/css" rel="stylesheet">
    <link href="/css/header/guestbook.css" type="text/css" rel="stylesheet">
    <script src="/js/guestbook/list.js"></script>
    <script src="/js/guestbook/checkOwnGuestbook.js"></script>
    <title>Pearl-ing 방명록</title>
</head>

<body>
    <main layout:fragment="content" id="wrap" class="wrap guestbook">
        <div class="img-list">
            <ul class="clam" id="clam-list">
                <li th:each="g, stat : ${list}" th:data-index="${stat.index}" th:data-id="${g.id}">
                    <img alt="Clam Image" 
                    data-aos="zoom-in" data-aos-duration="1500"/>
                    <p class="lock"><img src="/images/guestbook/lock.svg" alt="잠금아이콘"></p>         
                </li>
            </ul>

            <!-- 페이징 처리 -->
            <div class="pagination">
                <ul class="my-paging">
                <li>
                    <a href="#" id="previous-page1">〈</a>
                </li>
                <li th:each="page, i : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{/guestbook/list(uid=${userId}, page=${page})}"
                    th:class="${currentPage == page ? 'active' : ''}"
                    th:text="${page}"
                    data-page="${page}"></a>
                </li>
                <li>
                    <a href="#" id="next-page">〉</a>
                </li>
                </ul>

                <!-- 친구용 -->
                <ul class="friend-paging">
                    <li>
                        <a href="#" id="previous-page2">〈</a>
                    </li>
                    <li th:each="page, i : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/guestbook/list/{id}(id=${userId}, page=${page})}"
                        th:class="${currentPage == page ? 'active' : ''}"
                        th:text="${page}"
                        data-page="${page}"
                        ></a>
                    </li>
                    <li>
                        <a href="#" id="next-page2">〉</a>
                    </li>
                </ul>
            </div>
        </div>

        <p><a class="plus" th:href="@{/guestbook/post/{id}(id=${userId}, s=false)}">+</a></p>

        <section th:each="g, stat : ${list}" th:id="'b' + ${stat.index}"
            th:class="'guestbook guestbook-' + ${stat.index}" th:data-id="${g.id}">
            <h1 class="d-none">방명록</h1>
            <div class="book">
                <div class="bar">
                    <div class="info-zip">
                    <!-- <p class="number">NO<span th:text="${stat.index} + 1"></span></p> -->
                    <p class="from-id-nickname" th:text="${g.fromNickname}"></p>
                    <p><span class="date" th:text="${#dates.format(g.regdate, 'yyyy-MM-dd')}"></span></p>
                </div>
                    <div class="btn-zip">
                        <p class="btn updateBtn"><a th:href="@{/guestbook/post/{id}(id=${userId}, s=true, gid=${g.id})}"></a></p> <!-- 수정 버튼 클릭 시 링크에 방명록 ID 포함 -->
                        <p class="btn deleteBtn"></p>
                        <p class="guestbook-close"></p>
                    </div>
                </div>
                <div class="guestbook-pearl-content"><p th:text="${g.content}"></p></div>
                <div class="pearl"></div>
                <p id="from-id" class="from-id-hidden" type="hidden" th:text="${g.fromId}"></p>
            </div>
        </section>

        <!-- 뒤에 배경 어둡게 하기 -->
        <div class="black"></div>
        <!-- alert창 ------------------------------->
        <div id="delete-modal" class="modal">
            <div class="modal-content">
                <p>🫧 Message</p>
                <p>방명록을 삭제하시겠습니까?</p>
                <div class="delete-btn">
                    <button class="btn-style delete-no">취소</button>
                    <button class="btn-style delete-yes">확인</button>
                </div>
            </div>
        </div>

        <div id="no-show-modal" class="modal">
            <div class="modal-content">
                <p>🫧 Message</p>
                <p>방명록을 볼 수 있는 권한이 없습니다.</p>
                <button class="btn-style no-show-yes">확인</button>
            </div>
        </div>

        <input id="input-member-id" type="hidden" th:value="${#authentication.principal.id}">
        <input id="input-user-id" type="hidden" th:value="${userId}">
        <input id="current-page" type="hidden" th:value="${currentPage}">
    </main>
</body>
</html>
