<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/guestbook/guestbook-plus.css" type="text/css" rel="stylesheet">
    <script src="/js/guestbook/post.js"></script>
    <title>방명록</title>
</head>

<body>
    <!-- wrap ---------------------------------->
    <main layout:fragment="content" th:switch="${editShow}" id="wrap" class="wrap">
        <input id="input-member-id" type="hidden" th:value="${#authentication.principal.id}">
        <input id="input-user-id" type="hidden" th:value="${userId}">
        
         <!-- 방명록 등록 -->
        <section th:case="1" id="d1">
            <form class="add-form">
                <section class="guestbook-plus">
                    <h1 class="d-none">방명록 입력</h1>
                    <div class="guestbook-write">
                        <textarea class="guestbook-input" name="content" placeholder="방명록을 입력하세요"></textarea>
                    </div>
                    <button class="add-btn">등록</button>
                </section>

                <div id="confirm-modal" class="modal">
                    <div class="modal-content">
                        <p>🫧 Message</p>
                        <p>방명록 등록이 완료되었습니다.</p>
                        <button class="confirm-yes">확인</button>
                    </div>
                </div>
            </form>
        </section>


        <!-- 방명록 수정 -->
        <section th:case="2" id="d2"> <!-- Change the ID of this section to "d2" -->
            <form class="update-form">
                <section class="guestbook-plus">
                    <h1 class="d-none">방명록 수정</h1>
                    <div class="guestbook-write">
                        <textarea th:text="${guestbook.content}" name="content"></textarea>
                    </div>
                </section>

                <section class="guestbook-btns">
                    <h1 class="d-none">방명록 수정</h1>
                    <button class="cancle-btn">취소</button>
                    <button class="update-btn">수정</button>
                </section>
            </form>
        </section>
    </main>
    <!-- /wrap ------------------------------->
</body>

</html>
