<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <title>Document</title>
    <link href="/css/admin/notice/detail.css" type="text/css" rel="stylesheet">
    <!-- <script src="/js/header/header.js"></script> -->
    <script src="/js/admin/notice/delete-update.js"></script>
</head>
<body>
    <!-- header -->
    <!-- wrap -->
    <main class="wrap" layout:fragment="content">
        <div class="notice-icon"></div>
        <form class="notice-post-form">
            <div class="notice-list">
                <h2 class="d-none">공지사항 내용</h2>
                <div class="notice-box">
                    <div class="notice-content">
                        <input type="text" class="notice-title" name="title"  th:value="${notice.title}"></input>
                        <textarea class="notice-context" name="content" rows="20" cols="100" th:text="${notice.content}"></textarea>
                    </div>
                </div>
            </div>
            <div class="notice-btn">
                <input type="hidden" name="hiddenmemberId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.id}">
                <input type="hidden" name="hiddenRoleId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.roleId}">
                <button class="delete-btn">삭제</button>
                <button class="edit-btn">저장</button>
            </div>
        </form>
    </main>
    <!-- /wrap -->
</body>
</html>