<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <title>Document</title>
    <link href="/css/admin/notice/list.css" type="text/css" rel="stylesheet">
    <script src="/js/admin/notice/list.js"></script>
    <!-- <script src="/js/header/header.js"></script> -->
</head>

<body>
    <!-- header -->

    <!-- wrap -->
    <main class="wrap" layout:fragment="content">
        <div class="notice-icon"></div>
        <div class="notice-list notice" th:each="n : ${list}">
            <h2 class="d-none">공지사항 목록</h2>
            <div class="notice-box">
                <div class="notice-content">
                    <a href="detail" th:href="@{../notice/detail(id=${n.id})}">
                        <p th:text="${n.title}">다이어리 공개범위 설정 변경의 건</p>
                    </a>
                </div>
                <div class="notice-date" th:text="${#dates.format(n.regdate, 'yyyy-MM-dd')}">2023/04/22</div>
            </div>
        </div>

        <section>
            <div class="notice-write">
                <button class="write-btn">
                    <a href="post">+</a>
                </button>
                <input type="hidden" name="loginId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.id}" />
            </div>  
        </section>
    </main>
    <!-- /wrap -->
</body>

</html>