
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
    
    body{
        animation: fadeIn 2s linear;

        height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    

    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        padding-top: 10px;
        gap: 10px;
    }

    #myshell-menu{
        display: none;
    }


/* ===================== 쉘 메뉴 선택 섹션 ===================== */


        .osfont{
            font-family: 'Pretendard-Bold' !important;
            font-size: 16px !important;
            color : rgba(165, 135, 224, 1) !important;
            /* letter-spacing: 0.1em; */
        }


        .msfont{
            font-family: 'Pretendard-Bold';
            font-size: 16px;
            color: #797979;
            transition: all 0.4s step-start;
            /* letter-spacing: 0.1em; */
        }

        .msfont:hover{
            color:rgba(165, 135, 224, 1);
            transition: all 0.4s step-start;
        }



/* ===================== 친구들 일정 피드 섹션 ===================== */
    #m4-friendSchedule{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;   
        max-width: 800px;

        padding-bottom: 20px;

        /* Inside auto layout */
        flex: none;
        order: 4;
        flex-grow: 0;

        /* 폰트 */
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15em;
        color: rgba(97, 94, 94, 1);

    }

    .friendScheduleList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        min-width: 95%;
        max-width: none;
    }

   

    .friendScheduleList > li  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        gap: 15px;

        padding: 30px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), 
        inset 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

    }


    
    .scheduleContents > p {
        font-family: 'Pretendard-SemiBold';
        font-size: 12px;
        font-style: italic;
        padding: 5px;
    }


    .scheduleContents > ul > li  {
        padding: 5px;
    }


   .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
   }

   .fs1{
    width: inherit;
   }

   .os-sche-title{
    padding-bottom: 20px;
    /* border-top: 2px solid red; */
    width: inherit;
    }

   .sc-content{
    display: flex;
    align-items: center;
    width: auto;
   }

   .sc-content > p{
    padding-left: 10px;
   }
 

   input[type=checkbox],
   input[type=checkbox]:disabled{
       accent-color: rgba(165, 135, 224, 1);
       color: rgba(165, 135, 224, 1);
       background-color: rgba(165, 135, 224, 1);
     }  
   
   input[type="checkbox"]:checked + p {
       text-decoration: line-through;
     }
   

    .scheduleContents > ul > li> .tag > button {
        color: rgba(97, 94, 94, 1);

        font-size: 12px;
        padding-top: 3px;
        width: auto;
        letter-spacing: 0.15em;

        border: none;

        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 
        inset 0px 2px 4px rgba(0, 0, 0, 0.25), 
        inset 0px 0px 55px #FFFFFF, 
        inset 0px 32px 16px rgba(199, 192, 196, 0.09), 
        inset 0px 16px 8px rgba(199, 192, 196, 0.09), 
        inset 0px -79px 40px rgba(199, 192, 196, 0.1), 
        inset 0px -36px 30px rgba(199, 192, 196, 0.15), 
        inset 0px -23px 25px rgba(199, 192, 196, 0.17);
        border-radius: 10px;
        transform: rotate(0.28deg);
    
    }

    .profile-x > a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        gap: 15px;
    }


    .profile-x > a > img{
        width: 45px;
        height: 45px;
        border-radius: 30px;
        object-fit: cover; 
        object-position: center;
    }

    .profile-x > a > p {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.1em;
    }


    .tag > div{
        color: rgba(97, 94, 94, 1);

        font-size: 10px;
        font-family: 'Pretendard-SemiBold';
        /* font-style: italic; */
        padding-top: 3px;
        width: auto;
        letter-spacing: 0.1em;
    
        border: none;
        padding: 3px 6px 3px 6px;
        border-radius: 50px;
        background: #ffffff;
        /* REAL 그림자 */
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .tag{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


     
  /* 모바일 규격 */
 @media screen and (max-width: 1023px) {
    
 
}


  /* PC 규격 */
  @media screen and (min-width: 1024px) {


    .mobile-nev{
        display: none;
    }
  }
  