@import url(/css/calendar/calendar.css); 
@import url(/css/shell/tippy.css);

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.flip-effect{
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 2s linear;
}

.flip-effect.flipped {
    transform-style: preserve-3d;
    transform: rotateX(360deg);
    transition: transform 2s linear;
}


body{
    animation: fadeIn 0.5s ease-in-out;
}


.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 20px;
 }

.ms-hidden {
    display: none;
  }


/* ==========(ms1) 쉘 메뉴 선택 섹션 ===================== */

.msfont{
    font-family: 'Pretendard-Bold'!important;
    font-size: 16px !important;
    color : rgba(165, 135, 224, 1) !important;
    /* letter-spacing: 0.1em; */
}

/* ==============(ms2) 마이셸 하부 메뉴 섹션 ===================== */

.monthly  {
    font-family: 'Pretendard-SemiBold'!important;
    color : rgba(165, 135, 224, 1)!important;
}

  /* ==========(ms3) 다이어리 섹션 ===================== */

#ms3{
    width: 90%;
    min-width: 350px;
}

  /* ==========(ms4) 스케쥴 섹션 ===================== */


  #ms4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; 
    width: 85%;

    position: relative;
}

@media (min-width: 400px) {
    #ms4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 30px; 
    
        width: 85%;
    
        position: relative;
    }
}

.ms-today{
    grid-column: 1 / span 2;
   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

input[type=checkbox],
input[type=checkbox]:disabled{
    accent-color: rgba(165, 135, 224, 1);
    color: rgba(165, 135, 224, 1);
    background-color: rgba(165, 135, 224, 1);
  }  

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
  }

.ms-today-day{
    font-family: 'Pretendard-SemiBold';
    font-style: italic;
    font-size: 30px;
    letter-spacing: 0.1em;

    position: absolute;
    height: 30px;
    left: 45px;
    top: 35px;

    display: flex;
    align-items: center;
    text-align: center;
}

.schedule{
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-part{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.schedule-titles{
    font-family: 'Pretendard-SemiBold';
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.schedule > ul > li  {

    gap : 60px;
    padding: 3px;
    /* padding-left: 30px; */
}


.content {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
    overflow-x: auto;
}

.content::-webkit-scrollbar {
    width: 1px;
    height: 0px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #cbcbf7;
}

.scheduleListSection{
    width: 100%;
    padding-top: 15px;
}

.scheduleList:hover {
    cursor: pointer;
}

#todo-add-form-section{
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-content-input{
    height: 18px;
    padding: 5px;
    width: 180px;
    border: 1.5px solid rgba(165, 135, 224, 1);
    border-radius: 10px;
    font-style: italic;
    font-size: 12px;
}

.todo-content{
    width: 100%;
}

.show-del-btn{
    color: #797979;

    border-style: none;
    background: none;
    border-radius: 20px;

    font-size: 12px;
    padding: 8px;
    letter-spacing: 0.1em;
}

.show-del-btn:hover{
    font-weight: 500;
    background: rgb(237, 234, 243);
    border-radius: 20px
}

.todo-delete-button{
    opacity: 0;
    border:0.5px solid #888888;
    outline:none;
    background-color:#f4f5f6;
    border-radius: 5px;
    transition: .13s ease-in-out;
    outline:none;
    box-shadow:  -0.6px -2px 3.5px #ffffff, -1px -1px 1.5px #ffffff, -2px 0px 3px #ffffff, 2px 2px 2px rgba(0,0,0,0.2);
}

.todo-delete-button:active{
   box-shadow: none;

}

.content > p {
    display: flex;
    align-items: center;
}

.content > a:hover,
.content > span:hover{
    background-color:#cbcbf7
    /* #c9d5fff7; */

}


/* 친구 태그 아이콘 */
.schedule > ul > li> div> .tag > div {
    color: rgba(97, 94, 94, 1);

    font-size: 10px;
    font-family: 'Pretendard-SemiBold';
    padding-top: 3px;

    border: none;
    padding: 3px 6px 3px 6px;
    border-radius: 50px;
    background: #ffffff;
    /* REAL 그림자 */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset, 
    0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    min-width: fit-content;
}


  /* ==========(+) plus 추가 버튼 (픽스드)===================== */


.plusbox{
    position: fixed;

    width: 150px;
    height: 100px;
    right: 3%;
    bottom: 2%;

    z-index: 9999;

    cursor: pointer;
}

.plus{
    color: #797979;
    position: absolute;
    bottom: 5%;
    right: 5%;

    /* color: white; */
    font-weight: semi-bold;
    font-size: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;

    background: linear-gradient(0deg,
        rgba(165, 135, 224, 0.2), rgba(165, 135, 224, 0.2)),
        rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
        inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.plusDetail{
    opacity: 0;
    width: 100%;
    overflow: hidden; /* 초과 내용을 숨김 */
    transition: opacity 0.3s linear; /* transition 효과 설정 */
}

.act{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.plusDetail > div {
    /* 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    /* 스타일 */
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
        inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.plus-todo{
    bottom: 10%;
    right: 50%;

    cursor: pointer;
}

.plus-schedule{

    bottom: 60%;
    right: 30%; 

    cursor: pointer;
}


.tag{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    min-width: fit-content;
}


.sche-link{
    min-width: fit-content;
    padding-right: 5px;
    letter-spacing: 0.15em;
}

