@import url(/css/calendar/calendar.css); 

input[type=checkbox] {
    accent-color: rgba(165, 135, 224, 1)
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

body{
    animation: fadeIn 0.5s ease-in-out;
}


.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 20px;
 }

.ms-hidden {
    display: none;
  }


/* ==========(ms1) 쉘 메뉴 선택 섹션 ===================== */

.msfont{
    font-family: 'Pretendard-Bold'!important;
    font-size: 16px !important;
    color : rgba(165, 135, 224, 1) !important;
    /* letter-spacing: 0.1em; */
}

/* ==============(ms2) 마이셸 하부 메뉴 섹션 ===================== */

.monthly  {
    font-family: 'Pretendard-SemiBold'!important;
    color : rgba(165, 135, 224, 1)!important;
}

  /* ==========(ms3) 다이어리 섹션 ===================== */

#ms3{
      
    flex: none;
    order: 3;
    flex-grow: 0;

    width: 90%
}

  /* ==========(ms4) 스케쥴 섹션 ===================== */
#ms4{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px; 


    width: 85%;

    /* 새로운 박스 */
 
    flex: none;
    order: 4;
    flex-grow: 0;

    position: relative;
}

.ms-today{
    grid-column: 1 / span 2;
   
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.ms-today > img {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;    
}

.ms-today > span{
    font-size: 24px; 
}


input[type="checkbox"]:checked + p {
    text-decoration: line-through;
  }

.ms-today-day{
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    letter-spacing: 0.1em;

    position: absolute;
    height: 27px;
    left: 50px;
    top: 35px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #797979;

}

.schedule{
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-part{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.schedule-titles{
    font-family: 'Pretendard-SemiBold';
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.schedule > ul > li  {

    gap : 60px;
    padding: 3px;
    /* padding-left: 30px; */
}


.content{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    gap: 5px;
    width: 100%;
}

.scheduleListSection{
    padding-top: 10px;
}

.scheduleList:hover {
    cursor: pointer;
}

#todo-add-form-section{
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-content-input{
    height: 18px;
    padding: 5px;
    width: 180px;
    border: 1.5px solid rgba(165, 135, 224, 1);
    border-radius: 10px;
    font-style: italic;
    font-size: 12px;
}

.todo-content{
    width: 100%;
}

.show-del-btn{
    border-style: none;
    background: none;
    /* border:0.5px solid rgb(197, 194, 202); */
    border-radius: 20px;

    font-size: 12px;
    padding: 8px;
    letter-spacing: 0.1em;
}

.show-del-btn:hover{
    font-weight: 500;
    background: rgb(237, 234, 243);
    border-radius: 20px
}

.todo-delete-button{
    opacity: 0;
    border:0.5px solid #888888;
    outline:none;
    background-color:#f4f5f6;
    border-radius: 5px;
    transition: .13s ease-in-out;
    outline:none;
    box-shadow:  -0.6px -2px 3.5px #ffffff, -1px -1px 1.5px #ffffff, -2px 0px 3px #ffffff, 2px 2px 2px rgba(0,0,0,0.2);
}

.todo-delete-button:active{
   box-shadow: none;

}

.content > p {
    display: flex;
    align-items: center;
}

.content > a:hover{
    background-color:#cbcbf7
    /* #c9d5fff7; */

}

.schedule > ul > li> .tag > button {

    color: rgba(97, 94, 94, 1);

    font-size: 12px;
    padding-top: 3px;
    width: auto;
    letter-spacing: 0.15em;

    border: none;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 
    inset 0px 2px 4px rgba(0, 0, 0, 0.25), 
    inset 0px 0px 55px #FFFFFF, 
    inset 0px 32px 16px rgba(199, 192, 196, 0.09), 
    inset 0px 16px 8px rgba(199, 192, 196, 0.09), 
    inset 0px -79px 40px rgba(199, 192, 196, 0.1), 
    inset 0px -36px 30px rgba(199, 192, 196, 0.15), 
    inset 0px -23px 25px rgba(199, 192, 196, 0.17);
    border-radius: 10px;
    transform: rotate(0.28deg);
}

  /* ==========(+) plus 추가 버튼 (픽스드)===================== */


.plusbox{
    position: fixed;

    width: 150px;
    height: 100px;
    right: 3%;
    bottom: 2%;
    /* border: solid red 1px; */
}

.plus{
    position: absolute;
    bottom: 5%;
    right: 5%;

    color: white;
    font-weight: semi-bold;
    font-size: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;

    background: linear-gradient(0deg,
        rgba(165, 135, 224, 0.2), rgba(165, 135, 224, 0.2)),
        rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
        inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.plusDetail{
    opacity: 0;
    width: 100%;
    overflow: hidden; /* 초과 내용을 숨김 */
    transition: opacity 0.3s linear; /* transition 효과 설정 */
}
.act{
    opacity: 1;
    transition: opacity 0.5s ease;
}


.plus-todo{
    position: absolute;
    bottom: 10%;
    right: 50%;

    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


.plus-schedule{
    position: absolute;
    bottom: 60%;
    right: 30%; 

    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}




  /* ==========(modal) 일정 디테일 ===================== */

    #dayDetail {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.3);
    }
  
  .modal-content {
        background-color: #fff;
        width: 80%;
        height: 50%;
  }


