<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search-main</title>
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/search/search-main.css" type="text/css" rel="stylesheet">
    <script src="/js/search/search-main.js"></script>
</head>

<body>
    <!-- wrap -->
    <main class="wrap" id="dropdown" layout:fragment="content">
        <h2 class="d-none">검색창</h2>
        <div class="detail-part">
            <section id="click-menu">
                <h3 class="d-none">쉘 구분</h3>
                <button class="account-click"></button>
                <button class="myshell-click"></button>
            </section>
            <div class="account">
                <section class="account-list">
                    <h3 class="d-none">검색 결과</h3>
                    <div>
                        <div class="account-box" th:each="m : ${memList}">
                            <img src="/images/profile/profile_yj.png" th:src="@{/images/profile/{img}(img=${m.profileImage})}">
                            <p class="account-name" th:text="${m.nickname}">연주의 점심</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="d-none myshell">
                <div class="myshell-list">
                    <h3 class="d-none">검색 결과</h3>
                    <div class="todo-box">
                        <div class="todo-list"></div>
                        <div class="lists">
                            <div class="todo-statement">
                                <img src="/images/profile/profile_yj.png">
                                <p>연주</p>
                                <p>18시간 전</p>
                            </div>
                            <div class="todo-content">
                                <input type="checkbox">
                                <p>점심 : 이수역 애플하우스</p>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-box">
                        <div class="schedule-list"></div>
                        <div class="lists">
                            <div class="schedule-statement">
                                <img src="/images/profile/profile_yj.png">
                                <p>연주</p>
                                <p>10분 전</p>
                            </div>
                            <div class="schedule-content">
                                <p>🎥 영화 제목 어쩌고저쩌고</p><br>
                                <p>🍴홍대 하이디라오(점심)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- wrap -->
</body>

</html>