<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search-main</title>
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/search/search-main.css" type="text/css" rel="stylesheet">
    <script src="/js/search/search-main.js"></script>
</head>

<body>
    <!-- wrap -->
    <main class="wrap" id="dropdown" layout:fragment="content">
        <h2 class="d-none">검색창</h2>
        <div class="detail-part">
            <section id="click-menu">
                <h3 class="d-none">쉘 구분</h3>
                <button class="account-click"></button>
                <button class="myshell-click"></button>
            </section>
            <div class="account">
                <section class="account-list">
                    <h3 class="d-none">검색 결과</h3>
                    <div>
                        <div th:each="m : ${memList}" class="account-box">
                            <a th:href="@{/shell/myshell/{id}(id=${m.id})}">
                                <img class="profile_img"
                                    th:src="@{${m.profileImage} != null ? '/resources/img/' + ${m.profileImage} : '/images/profile/basic.png'}" 
                                    alt="프로필" />
                                <div class="account-name" th:data-member-id="${m.id}">
                                    <div th:text="${m.nickname}">연주의 점심</div>
                                </div>
                            </a>
                        </div>
                        <div class="non-result" th:unless="${not #lists.isEmpty(memList)}">
                            <p th:text="${searchResults}"></p>
                            <p> 에 대한 검색 결과가 없음</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="d-none myshell">
                <div class="myshell-list">
                    <h3 class="d-none">검색 결과</h3>
                    <div class="todo-box">
                        <div class="todo-list"></div>
                        <div class="search-lists" th:each="t : ${tdList}">
                            <div th:if="${t.memberId == #authentication.principal.id}">
                                <div class="todo-statement">
                                    <img class="profile_img"
                                    th:src="@{${t.profileImage} != null ? '/resources/img/' + ${t.profileImage} : '/images/profile/basic.png'}" 
                                    alt="프로필" />
                                    <p><span sec:authentication="principal.nickname"></span></p>
                                    <p th:text="${t.formattedDate}">18시간 전</p>
                                </div>
                                <div class="todo-content">
                                    <input type="checkbox">
                                    <p th:text="${t.content}">점심 : 이수역 애플하우스</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-box">
                        <div class="schedule-list"></div>
                        <div class="search-lists" th:each="s : ${scList}">
                            <div th:if="${s.memberId == #authentication.principal.id}">
                                <div class="schedule-statement">
                                    <img class="profile_img"
                                    th:src="@{${s.profileImage} != null ? '/resources/img/' + ${s.profileImage} : '/images/profile/basic.png'}" 
                                    alt="프로필" />
                                    <p><span sec:authentication="principal.nickname"></span></p>
                                    <p th:text="${s.formattedDate}">10분 전</p>
                                </div>
                                <div class="schedule-content">
                                    <p th:text="${s.title}">🎥 영화 제목 어쩌고저쩌고</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- wrap -->
</body>

</html>