@import url("/css/diary/diary-calendar.css");

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.diary-edit-del-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

.diary-edit-del-wrap >:nth-child(1) {
    background: #FFFFFF;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 14px;
    margin-top: 30px;
    padding: 30px 20px 20px 30px;

    width: 80%;
    max-width: 700px;
}

.diary-add-form,
.diary-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .diary-edit-form > :nth-child(1) {
        justify-self: flex-end;
        align-self: flex-end;
        color: #797979;

        margin-right: 5%;
    }

    .diary-edit-form > :nth-child(2) {
        display: none;
        justify-self: flex-end;
        align-self: flex-end;

        margin-right: 5%;
        width: 130px;
        height: 25px;
        
        background: rgba(252, 251, 251, 0.75);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;
        color: #797979;

        opacity: 0;
        animation: fadeIn 1s ease forwards;
    }

        .diary-edit-form > :nth-child(2) > button {
            border: none;
            background-color: transparent;
            color: #797979;
            font-size: 12px;

            width: 40px;
            height: 25px;

            padding: 0px;
        }

        .diary-edit-form > :nth-child(2) > button:hover {
            background-color:rgba(165, 135, 224, 0.2);
            border-radius: 30px;
            color: #FFFFFF;
        }

.diary-detail-span {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
}

.diary-add-detail-span {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;

    background: #FFFFFF;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 14px;
    margin-top: 30px;
    padding: 30px 20px 20px 30px;
}

.diary-detail-date {
    width: 150px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Pretendard-Regular';
}

    .diary-detail-date:disabled {
        background-color: transparent;
        color: #797979;
        opacity: 1;
        font-family: 'Pretendard-Regular';
    }

.diary-detail-title {
    font-family: 'Pretendard-Regular';
    border: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

    .diary-detail-title:disabled {
    background-color: transparent;
    opacity: 1;
    -webkit-text-fill-color: inherit;
}


.diary-detail-input {
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    border: none;
    line-height: 25px;
}

.diary-detail-input::placeholder {
    font-style: italic;
    color: #d0cfcf;
}

    .diary-detail-input:disabled {
    background-color: transparent;
    opacity: 1;
    -webkit-text-fill-color: inherit;

    }


/* -----버튼(사진 첨부)--------------------------------------------------- */

/* .upload-btn {
    background-image: url("/images/diary/photo.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    box-sizing: content-box;
    width: 30px;
    height: 38px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 80px;
    border: none;
}

.btns>label:active {
    opacity: 0.8;
} */

/* -----버튼(등록 버튼)--------------------------------------------------- */

/* 다이어리 수정, 삭제창 버튼 */

.show-diary-del-edit-btn > button {
    font-family: 'Pretendard-Regular';
}
.diary-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

    width: 90%;
    max-width: 700px;

    border-bottom: solid 1px #D9D9D9;
}

    .diary-btns .diary-heart-comment-btns {
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        align-content: center;
        gap: 10px;
    }

    .heart-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .comment-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

        .icon-heart {
            background: url("/images/diary/icon-heart.svg") no-repeat center/cover;
            width: 18px;
            height: 18px;

            position: relative;
            display: inline-block;
        }

        .icon-heart-fill {
            background: url("/images/diary/icon-heart-fill.svg") no-repeat center/cover;
            width: 18px;
            height: 18px;
        }

        .icon-comment {
            background: url("/images/diary/icon-comment.svg") no-repeat center/cover;
            width: 16px;
            height: 16px;

            position: relative;
            display: inline-block;
        }

        .icon-comment-fill {
            background: url("/images/diary/icon-comment-fill.svg") no-repeat center/cover;
            width: 18px;
            height: 18px;
        }

    .diary-btns .diary-scope-summit-btns {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        align-items: center;
    }

        .diary-scope-summit-btns>select {
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            
            width: 80px;
            height: 25px;

            text-align: center;

            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 16px;

            color: #797979;
            font-size: 12px;

            appearance: 0;

            font-family: 'Pretendard-Regular';
        }

        .diary-scope-summit-btns>button {
            width: 40px;
            height: 20px;
            
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            border: none;

            margin-left: 10px;

            color: #797979;
            font-size: 12px;
        }

/* 다이어리 등록창 버튼 */

.diary-post-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;

    width: 80%;
    max-width: 700px;

    margin-bottom: 100px;
}

    .diary-post-btns > select {
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        
        width: 80px;
        height: 30px;

        text-align: center;

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 16px;

        color: #797979;
        font-size: 12px;
    }

    .diary-post-btns > button {
        width: 80px;
        height: 30px;
        
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;

        margin-left: 10px;

        color: #797979;
        font-size: 12px;
    }

    .diary-post-btns>button:active {
        background: rgba(90, 46, 149, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

/* =========댓글 창=========================== */

.diary-comment-section {
    display: flex;
    flex-direction: column;

    padding-top: 10px;

    width: 90%;
    max-width: 700px;

    justify-content: center;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.diary-comment-form {
    display: none;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.comment-list,
.comment-input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;

    border-bottom: solid 1px #D9D9D9;
}

    .comment > .comment-deco-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    } 

    .comment-deco-box > span:nth-child(2) {
        font-weight: bold;
        padding-right: 5px;
    }

    .comment-deco-box > :nth-child(3) {
        padding: 3px 5px;

        background: rgba(90, 46, 149, 0.2);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        border: none;

        color: #FFFFFF;
    }

    .pearl-img > :nth-child(1) {
        width: 20px;
        height: 20px;
    }

    .comment > .content-span {
        padding-left: 20px;
    }
    
    .up-del-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .up-del-box > span {
        justify-self: flex-start;
        padding-left: 20px;
    }
    
    .up-del-btns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .up-del-btns > button {
        /* display: none; */
        border: none;
        background: none;
        color: #797979;
        font-size: 12px;
    }
    
.comment-input-box> textarea {
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    color: #797979;

    border:solid 1px rgba(107, 107, 107, 0.759);
    margin-top: 10px;
    padding: 10px 10px;
}

.comment-update-form {
    display: flex;
    flex-direction: column;
}

    .comment-update-form > .comment-update-input {
        font-family: 'Pretendard-Regular';
        font-size: 12px;
        color: #797979;

        margin-top: 10px;
        padding: 10px 10px;
    }

    .comment-update-form > .comment-update-submit {
        margin-top: 5px;

        align-self: flex-end;

        background: rgba(252, 251, 251, 0.75);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;

        font-size: 12px;
        color: #797979;
    }


    .comment-update-form > .comment-update-submit:hover {
        margin-top: 5px;

        align-self: flex-end;

        background: rgba(165, 135, 224, 0.2);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;

        font-size: 12px;
        color: #797979;
    }


.comment-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

    .comment-btns> button{
        margin-top: 5px;
        width: 85px;
        height: 25px;

        align-self: flex-end;

        background: rgba(252, 251, 251, 0.75);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;

        font-family: 'Pretendard-Regular';
        font-size: 12px;
        color: #797979;
    }

/* 커서 포인터 */
.diary-heart-comment-btns,
.diary-detail-date,
.show-btn,
.comment-show-btn,
button,
select {
    cursor: pointer;
}

/* 유효성 검사용 */
  
.diary-value-alert::placeholder{
color: rgb(247, 150, 150); 
}
 
  /* 모바일 규격 */
  @media screen and (max-width: 768px) {

    .diary-edit-del-wrap >:nth-child(1) {
        background: #FFFFFF;
    }

    .diary-add-detail-span {
        background: #FFFFFF;
    }

}

  /* PC 규격 */
  @media screen and (min-width: 769px) {

    .wrap {
        width: 100%;
    }

    .diary-edit-del-wrap {
        width: 100%;
    }

        .diary-edit-del-wrap >:nth-child(1) {
            width: 100%;
            margin-top: 0;
            max-width: 1500px;

            background: none;
        }

    .diary-edit-form,
    .diary-add-form {
        width: 100%;
    }

        .diary-edit-form > :nth-child(1) {
            margin-right: 0;
        }

    .diary-detail-span,
    .diary-add-detail-span {
        width: 100%;
        max-width: inherit;
    }

    .diary-add-detail-span {
        margin-top: 0;
        background: none;
    }

    .diary-detail-input {
        min-height: 500px;
    }

    .diary-btns {
        width: 100%;
        max-width: inherit;
    }

    .diary-post-btns {
        width: 100%;
        max-width: inherit;        
    }

    .diary-edit-form > :nth-child(2) {
        margin-right: 0;
    }

    .diary-comment-section {
        width: 100%;
        max-width: inherit;
    }

    .diary-detail-date,
    .diary-detail-title,
    .diary-detail-input {
        border-radius: 12px;
        padding: 5px;
        font-family: 'Pretendard-Regular';
    }

}


