@import url("/css/calendar/calendar.css");

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.d-month-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 22px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

/* diary-list-section 속성 */
/* diary-list-section <diary-date-content> */

.diary-list {
    display: flex;
    flex-direction: column;
}

.diary-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

form {
    width: 90%;
}

.diary-date-content {
    display: flex;
    align-items: center;
    gap: 60px;

    height: 100px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

    .diary-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
    }

    .diary-date>span:nth-child(1) {
        font-family: 'ghanachoco';
        font-style: italic;
        font-weight: bold;
        font-size: 32px;
    }

    .diary-date>span:nth-child(2) {
        font-family: 'ghanachoco';
        font-style: italic;
        font-size: 12px;
    }

    .diary-content {
        width: 80%;
        margin: 0;
    }

    .diary-content > a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        overflow: hidden;

        width: 100%;
    }

    .diary-content > a:hover {
        cursor: pointer;
    }

    .diary-content > a > span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .diary-content> a > :nth-child(1) {
        font-weight: 700;
        font-size: 20px;
        align-self: flex-start;
        letter-spacing: 0.2em;
    }

/* diary-list-section <diary-heart-commnet> */

.diary-heart-comment {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    margin-top: 10px;
    margin-right: 20px;

    gap: 10px;
}

.diary-emog,
.diary-comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

/* 플러스 버튼 속성 */

.add-btn{
    position: fixed;

    width: 150px;
    height: 100px;
    right: 3%;
    bottom: 2%;
}

    .add-btn > button{
        position: absolute;
        bottom: 5%;
        right: 5%;

        color: white;
        font-weight: semi-bold;
        font-size: 24px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 55px;
        height: 55px;

        background: linear-gradient(0deg,
            rgba(165, 135, 224, 0.2), rgba(165, 135, 224, 0.2)),
            rgba(0, 0, 0, 0.04);
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 
            inset 0px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;
    }

    .add-btn > button:active {
        cursor: pointer;
        opacity: 0.8;
    }

    .add-btn > button > a {
        color: #797979;
    }


/* 하트 아이콘 속성 */

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.icon-heart {
    background: url("/images/diary/icon-heart.svg") no-repeat center/cover;
    width: 18px;
    height: 18px;

    position: relative;
    display: inline-block;
  }

.icon-heart-fill {
    background: url("/images/diary/icon-heart-fill.svg") no-repeat center/cover;
    width: 18px;
    height: 18px;

    animation: heartbeat 1s infinite;
}