<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/setting/setting-accountmanage.css" type="text/css" rel="stylesheet">
    <title>setting-accountmanage</title>
</head>

<body>
    <!-- header -->
    <header>
        <!--header-wrap-->
        <div class="header-wrap">
            <!--header-->
            <div class="header2">
                <h1 class="d-none">펄링</h1>
                <a class="back"><img src="/images/back.png" alt="logo"/></a>
                <h2 class="title">계정 관리</h2>
            </div>  
            <p class="gray_border"></p>
        <!-- header-->
        </div>
        <!--header-wrap-->
    </header>


    <main layout:fragment="content" class="wrap">
        <section id="account-setting" class="account-setting">
            <div class="img-box">
                <img src="/images/profile/purple_circle.png" alt="pearl">
            </div>
            <p class="setting">계정 설정</p>
            <ul>
                <li><a class="defence" target="" href="">비밀번호 변경</a></li>
                <li><a class="defence" target="" href="">계정 차단</a></li>
                <li><a class="defence" target="" href="">계정 삭제</a></li>
            </ul>
        </section>
    </main>
</body>

</html>