<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/setting/setting-delete.css" type="text/css" rel="stylesheet">
    <title>setting-delete</title>
</head>

<body>

     <!-- header -->

    <!-- wrap -->
    <main layout:fragment="content" class="wrap">
        <section class="setting-delete">
            <h1 class="d-none">계정 삭제 확인</h1>
            <div class="comfirm">
                <p>이 계정을 정말 삭제하시겠습니까?</p>
            </div>
            <div class="select-btn">
                <button>예</button>
                <button>아니오</button>
            </div>
        </section>

    </main>
    <!-- /wrap -->

</body>

</html>