<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
layout:decorate="~{inc/layout}">

<head>
    <link href="/css/system/profile.css" type="text/css" rel="stylesheet">
    <script src="/js/setting/setting-profile.js"></script>
    <title>Profile</title>
</head>
<body>
    <!-- header -->

    <!-- wrap -->
    <main layout:fragment="content" id="wrap" class="wrap p_wrap">
        <h1 class="logo"><img src="/images/logo/realLogo.svg" ></h1>
        <!-- form -->
        <form action="/profile" method="post" enctype="multipart/form-data">
            <ul class="change">
                <li class="eidt-img">
                    <p class="p-img">
                        <img class="profile_img"
                        th:src="@{${#authentication.principal.profileImage} != null ? '/resources/img/' + ${#authentication.principal.profileImage} : '/images/profile/basic.png'}" 
                        alt="프로필" />
                    </p> 
                    <label for="fileInput" class="custom-file-button">
                        <img class="edit" src="/images/profile/edit_profile.png" alt="Image" />
                    </label>
                    <input id="fileInput" type="file" accept="image/*" name="file" style="display: none;" />
                </li>
                <li>🫧 이름</li>
                <li>
                    <input type="text" placeholder="입력하세요" th:value="${#authentication.principal.name}" name="name" />
                </li>
                <li>🫧 닉네임</li>
                <li>
                    <input type="text" placeholder="입력하세요" th:value="${#authentication.principal.nickname}" name="nickname" id="nickname" />
                </li>
            </ul>

            <div class="pbtn">
                <button class="cancel" value="취소">취소</button>
                <button class="modify" value="수정하기">수정하기</button>
            </div>
            
            <!-- 수정완료 창 -->
            <div id="modify-modal" class="modal">
                <div class="modal-content">
                    <p>🫧 Message</p>
                    <p>수정이 완료되었습니다.</p>
                    <button type="submit" class="modify-yes">확인</button> 
                </div>
            </div>
        </form>
    </main>
    <!-- /wrap -->
    
</body>
</html> 