<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/diary/diary.css" type="text/css" rel="stylesheet">
    <link href="/css/header/diary.css" type="text/css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="/js/diary/list.js"></script>
    <title>diary</title>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">
            <h1 class="d-none">다이어리 전체 조회</h1>

            <!----------------------- 달력 --------------------->
            <section id="ms3">
                <h1 class="d-none">캘린더</h1>
                <div id='calendar'></div>
            </section>
            <!----------------------- 달력 --------------------->

            <div class="d-month-title">
                <!-- <p><span></span>6월의 이야기들</p> -->
            </div>

            <!----------------------- 다이어리 내용 --------------------->

            <section class="diary-list-section">
                <ul class="diary-list">
                    <li class="diary-detail" th:each="d : ${list}" data-aos="flip-down" data-aos-duration="2000">
                        <form>
                            <input id="hidden-id" type="hidden" th:value="${userId}">
                            <div class="diary-date-content">
                                <div class="diary-date">
                                    <span th:text="${#temporals.format(d.date, 'd')}"></span>
                                    <span th:text="${#temporals.format(d.date, 'MMM')}"></span>
                                </div>
                                <div class="diary-content">
                                    <a class="diary-href" th:href="@{../diary/post(id=${d.id})}">
                                        <span th:text="${d.title}">title</span>
                                        <span th:text="${d.content}">다이어리 내용</span>
                                    </a>
                                </div>
                            </div>
                            <div class="diary-heart-comment">
                                <div class="diary-emog">
                                    <svg
                                    sec:authorize="isAuthenticated()" 
                                    th:data-member-id="${#authentication.principal.id}"
                                    th:data-diary-id="${d.id}" 
                                    class="icon icon-heart" th:classappend="${d.like} ? 'icon-heart-fill' : ''">
                                    </svg>
                                    <span th:text="${d.likeCount}">1</span>
                                </div>
                                <div class="diary-comment">
                                    <svg
                                    sec:authorize="isAuthenticated()" 
                                    th:data-member-id="${#authentication.principal.id}"
                                    th:data-diary-id="${d.id}" 
                                    class="icon icon-comment">
                                    </svg>
                                    <span th:text="${d.commentCount}">1</span>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>

            <!----------------------- 다이어리 내용 --------------------->
            <section>
                <div class="add-btn">
                    <button><a class="defence" th:href="@{../diary/post(s=1, id=0)}">+</a></button>
                </div>
            </section>
    <input id="input-member-id" type="hidden" th:value="${#authentication.principal.id}">
    </main>
    <!-- /wrap -->
</body>

</html>