<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/diary/diary.css" type="text/css" rel="stylesheet">
    <link href="/css/header/diary.css" type="text/css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src='/fullcalendar/dist/index.global.js'></script>
    <script th:inline="javascript" type="module" src="/js/shell/myshell.js"></script>
    <script src="/js/diary/diary.js"></script>
    <script src="/js/diary/diary-ajax.js"></script>
    <title>diary</title>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">
        <section>
            <h1 class="d-none">다이어리 전체 조회</h1>

            <!----------------------- 달력 --------------------->
            <section id=d2>
                <div id='calendarDiary'></div>
            </section>
            <!----------------------- 달력 --------------------->

            <div class="d-month-title">
                <p>🫧<span></span>6월의 pearling</p>
            </div>


            <!----------------------- 다이어리 내용 --------------------->

            <div class="diary-list">
                <form>
                    <ul th:each="d : ${list}" data-aos="flip-down"
                        data-aos-duration="2000">
                        <li>
                            <a href="detail?s=2" th:href="@{../diary/detail(id=${d.id})}">
                                <div class="diary-date">
                                    <span th:text="${#dates.format(d.regdate, 'd')}"></span>
                                    <span th:text="${#dates.format(d.regdate, 'MMM')}"></span>
                                    
                                </div>
                                <div class="diary-content">
                                    <span th:text="${d.title}">title</span>
                                    <span th:text="${d.content}">다이어리 내용</span>
                                </div>
                                <div class="diary-emog">
                                    <span>🫧</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </form>

                <!----------------------- 다이어리 내용 --------------------->

                <div class="add-btn">
                    <button><a class="defence" th:href="@{../diary/post(s=1, id=0)}">+</a></button>
                </div>
            </div>
        </section>
    </main>
    <!-- /wrap -->
</body>

</html>