<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <link href="/css/diary/diary.css" type="text/css" rel="stylesheet">
    <link href="/css/header/diary.css" type="text/css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    <script src="/js/diary/diary.js"></script>
    <title>diary</title>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" class="wrap">
        <section>
            <h1 class="d-none">다이어리 전체 조회</h1>

            <!----------------------- 달력 --------------------->
            <section id=d2>
                <div id='calendar'></div>
            </section>
            <!----------------------- 달력 --------------------->

            <!----------------------- 다이어리 내용 --------------------->

            <div class="diary-list" >
                <form>
                    <ul th:each="d : ${list}">
                        <li th:text="${d.content}">나 지금 와이어프레임 짜다가 디자인을 하고 있어요</li>
                        <div th:text="${#dates.format(d.regdate, 'yyyy-MM-dd')}">2023/05/10</div>
                    </ul>
                </form>

                <!----------------------- 다이어리 내용 --------------------->

                <div class="add-btn">
                    <button><a class="defence" href="./post?s=1">+</a></button>
                </div>
            </div>
        </section>
    </main>
        <!-- /wrap -->
</body>
</html>