<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/diary/diary-add.css" type="text/css" rel="stylesheet">
    <link href="/css/diary/diary-edit.css" type="text/css" rel="stylesheet">
    <link href="/css/system/delete-modal.css" type="text/css" rel="stylesheet">
    <script src="/js/system/confirm-modal.js"></script>
    <script src="/js/system/delete-modal.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    <script src="/js/diary/diary.js"></script>
    <title>diary-post</title>
</head>

<body>
    <!-- wrap ---------------------------------->
    <main layout:fragment="content" class="wrap">

        <!-- 달력 ------------------------------->
        <section id=d2>
            <h1 class="d-none">달력(오늘 날짜)</h1>
            <div id='calendar'></div>
        </section>
        <!-- 달력 ------------------------------->

        <!-- 본문 ------------------------------->
        <!-- 등록창 -->
        <section id="d1" class="diary-detail">
            <h1 class="d-none">다이어리 내용</h1>
            <div th:switch="${editShow}">
                <div th:case="1">
                    <form class="diary-add-form" method="post" action="post">
                        <div class="diary-detail-span">
                            <input class="diary-detail-date" type="date" name="date">
                            <input class="diary-detail-title" name="title" type="text" placeholder="타이틀을 입력하세요.">
                            <textarea class="diary-detail-input" name="content" rows="30"></textarea>
                            <div class="btns">
                                <!-- <button>🔒</button> -->
                                <button></button>
                            </div>
                        </div>
                        <div class="diary-btns">
                            <select type="submit" name="diaryScopeId">
                                <option value="1">전체공개</option>
                                <option value="2">친구공개</option>
                                <option value="3">비공개</option>
                            </select>
                            <!-- <button class="del-btn">삭제</button> -->
                            <button class="add-btn">등록</button>
                        </div>

                        <!-- 등록 모달 -->

                        <div id="confirm-modal" class="modal">
                            <div class="modal-content">
                                <p>🫧 Message</p>
                                <p>다이어리 등록이 완료되었습니다.</p>
                                <button type="submit" class="confirm-yes">확인</button>
                            </div>
                        </div>
                
                    </form>
                </div>

                <!-- 수정, 삭제창 -->

                <div th:case="2">
                    <form id="formId" class="diary-add-form" method="post" action="">
                        <div class="diary-detail-span">
                            <input class="diary-detail-date" type="date" th:value="${diary.date}" name="date">
                            <input th:value="${diary.title}" class="diary-detail-title" type="text" name="title">
                            <textarea th:text="${diary.content}" class="diary-detail-input" rows="15" name="content"></textarea>
                            <div class="btns">
                                <!-- <button>🔒</button> -->
                                <button></button>
                            </div>
                        </div>
                        <div class="diary-btns">
                            <select type="submit" name="diaryScopeId">
                                <option value="1">전체공개</option>
                                <option value="2">친구공개</option>
                                <option value="3">비공개</option>
                            </select>
                            <button class="del-btn" onclick="setFormAction('delete')">삭제</button>
                            <button class="add-btn" onclick="setFormAction('update')">등록</button>
                        </div>

                        <!-- 등록 모달 -->

                        <div id="confirm-modal" class="modal">
                            <div class="modal-content">
                                <p>🫧 Message</p>
                                <p>다이어리 수정이 완료되었습니다.</p>
                                <button type="submit" name="id" th:value="${diary.id}" class="confirm-yes">확인</button>
                            </div>
                        </div>

                        <!-- 삭제 모달창 -->
                        <div id="delete-modal" class="modal">
                            <div class="del-modal-content">
                                <p>🫧 Message</p>
                                <p>다이어리를 삭제하시겠습니까?</p>
                                <div class="del-modal-btns">
                                    <button type="submit" name="id" th:value="${diary.id}" class="del-confirm-yes">예</button>
                                    <button class="del-confirm-no"><a href="#">아니오</a></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </section>
        <!-- 본문 ------------------------------->

    </main>
    <!-- /wrap ------------------------------->
</body>

</html>