
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: url("/images/guestbook/background.png");
    background-size: cover;
}

.wrap{
    height: 50vh;
}

.clam{
    display: flex;
    flex-wrap: wrap;
}

.bgnone{
    background: none;
    transition: all 1s ease-out;
}

.bgshow{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), 
    rgba(0, 0, 0, 0.04)), #FFFFFF;
    transition: all 1s ease-in;
}

.clam li{
    width: 180px;
}

.clam li img {
    cursor: pointer;
    width: 150px;
    transition: width 3s ease-in-out;
}

/* 방명록 부분 */
section.guestbook {
    display: none;
}

.book{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
} 

.pearl{
    width: 439px;
    height: 379px;
    background: url("/images/guestbook/pearling.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  black;
}

.pearl>p{
    font-family: 'Cafe24Ssurround';
    font-size: 18px;
    font-weight: normal;
    color: #676464db;
}

.date{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    width: 108px;
    height: 29px;

    background: rgba(252, 251, 251, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: #A587E0;
}

.guestbook-close{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 5%;
    right: 20%;
    z-index: 2;
    cursor: pointer;
}

.plus a{
    position: fixed;
    bottom: 15%;
    right: 5%;

    font-family: 'Pretendard-Regular';
    color: rgba(97, 94, 94, 1);
    font-weight: bold;
    font-size: 18px;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background: linear-gradient(0deg,
    rgba(165, 135, 224, 0.2), rgba(165, 135, 224, 0.2)),
    rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 
        inset 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

/* 내버전 */
.underline{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.deleteBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    width: 108px;
    height: 29px;

    background: rgba(252, 251, 251, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: red;

    cursor: pointer;
}

/* -----컨펌 모달--------------------------------------------------- */
.dmodal {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dmodal-content {
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 0 10px;
    border: 1px solid #888;
    width: 60%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    /* REAL 그림자 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

.dmodal-content>p {
    margin-bottom: 30px;
}