/* ======================= aside =======================*/
 /* PC 규격 */
 @media screen and (min-width: 769px) {
    .sub-menu-wrap{
        padding: 30px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), 
        inset 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

    }

    .asideImg > img { display: none; }

    .profile {
        padding-top: 30px;
    }

    .p-img > img { 
        width : 70px; 
        height: 70px;
    }

    .nickname{
        font-size: 24px;
    }

    .name{
        font-size: 14px;
    }

    .aside-menu > div > p {
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
    }

    .aside-menu >div > ul{
        padding: 20px;
    }

    .aside-menu >div > ul > li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    
    .aside-menu >div > ul > li > a{ 
        font-size: 16px;

        border-bottom: 1px solid #D9D9D9;
        padding: 10px;
    }

    .logoutBtn{
        width: 80%;
        background-color: #D9D9D9;
     
    }

    .logout{
        padding-top: 60px;
    }

 }

/* 모바일 규격 */
 @media screen and (max-width: 768px) {

    #sub-menu{
        overflow: scroll;
        position: fixed;
        top: 65px;
        right: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, 
        rgba(0, 0, 0, 0.04), 
        rgba(0, 0, 0, 0.04)), #FFFFFF;

        transition: right 0.4s ease-in-out;
        z-index: 2;
    }

    .p-img img {
        width: 100px;
        height: 100px;
    }

    .nickname{
        font-size: 30px;
    }

    .name{
        font-size: 18px;
    }

    .aside-menu > div > p {
        font-weight: bolder;
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 40px;
    }

    .aside-menu >div > ul > li > a{ 
        font-size: 16px;
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
    
        margin-bottom: 5px;
    
        width: 100%;
        height: 42px;
    
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
    }

    .logoutBtn{
        background: #ffffff;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .logoutBtn > a{
        width: 300px;
    }

    .logout{
        padding-top:  80px;
        padding-bottom: 50px;
    }

    .profile-setting{
        width: 70%;
    }

}



/* 공통 사항 */

.moveRight{
    position: fixed;
    top: 0;
    right: 0;
}

.menu-header{
    /* item layout */
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.asideImg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 10px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row; 

    width: 100%;
    height: 120px;
}

.p-img img{
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -6px -6px 9px 0px white, 6px 6px 9px rgba(0, 0, 0, 0.4)
}

.profile-setting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1.8px solid lightgrey;
    gap: 20px;
}

.names{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.nickname{
    text-align: center;
    font-weight: bolder;
}



.name > span{
    font-weight: bolder;
}

.follow-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;
    margin: 20px 0px;
}

.follow-list > div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 100px;

    text-align: center;

    gap: 15px;
    font-size: 16px;
    font-family: 'Pretendar-SemiBold';
}

.follow-list > div > a{
    font-size: 16px;
}

.follow-list > div > span{
    font-weight: bolder;
    font-size: 24px
}

.follow-list p:nth-child(1){
    margin-right: 10%;
}


/* back */
.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.aside-menu{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    width: 100%;
    background-color: #FFFFFF;
}


.logoutBtn{
    border: none;
    height: 50px;
    border-radius: 15px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);

    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.logoutBtn > a{
    display: inline-block;
    font-family: 'Pretendard-SemiBold';
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #797979;

}

.logoutBtn:active{
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}