input[type="text"]{
  font-style: italic;
  font-size: 12px;
}
input[type="date"],
input[type="time"]{
  color: #797979;
  accent-color: #A587E0;
}

#d1 {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */

    gap: 5px;
}

#d1 > div{
  margin-bottom: 20px;
}

#d1>div>label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
  color: #A587E0;
}

#d1>div>p{
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 12px;
  letter-spacing: 0.04em;
}

#d1>div>input {
  width: 280px;
  height: 30px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;

  padding-left: 13px;
  padding-top: 3px;
}


#d1>div>.btn-style {
  width: 94px;
  height: 27px;

  background: linear-gradient(0deg, rgba(90, 46, 149, 0.2), rgba(90, 46, 149, 0.2)), rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;

  color: #A587E0;
}

#d1>.schedule-add-title>input{
  width: 380px;
}

#d1>.schedule-add-date-box>input{
  width: 180px;
}

.schedule-add-freind-box > .friendList {
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    gap: 20px;
}

.schedule-add-freind-box > .friendList > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    padding: 15px;
}


/* 친구 프로필 이미지 */
.schedule-add-freind-box > .friendList > li > img {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;

    box-shadow: -6px -6px 9px 0px white, 6px 6px 9px rgba(0, 0, 0, 0.4)
}

.schedule-add-freind-box > .friendList > li >  p {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(79,79,79,79,100);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
}


.schedule-add-color-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 20px;
    margin-bottom: 20px;
    gap: 15px;

    height: 130px;
}

.schedule-add-submit {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.schedule-add-submit > :nth-child(1) {
  width: 134px;
  height: 28px;
  margin-left: 5px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;

  color: #A587E0;
}

.schedule-add-submit > :nth-child(2) {
  width: 134px;
  height: 28px;
  margin-left: 5px;

  background: rgba(90, 46, 149, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;

  color: #A587E0;
}

.schedule-add-submit>button:active {
    opacity: 0.8;
}

/* ----<색상 팔레트>------------------------------------------------------- */


.category-wrap > .col-box {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    
    transition: all 0.3;
}

.category-wrap > .col-box > .col-ball {
    width: 50px;
    height: 52px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.7;
}

.category-wrap > .col-box > .active {
    opacity: 1;
    outline: none;
    border: 2px solid #A1A1A1;
}



/* ----<카카오맵 추가>------------------------------------------------------- */

#map {
    width: 100%;
    height:300px;
    position:relative;
    overflow:hidden;
}

.map1_wrap,
.map1_wrap * {
  margin: 0;
  padding: 0;
  /* font-family: "Malgun Gothic", dotum, "돋움", sans-serif; */
  font-size: 12px;
}

.map1_wrap a,
.map1_wrap a:hover,
.map1_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map1_wrap {
  position: relative;
  width: 100%;
}

#menu1_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu1_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}

.add-lc > input {
  width: 200px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 15px;
}
#placesList .info .gray {
  color: rgba(0, 0, 0, 0.75);
}

#placesList .info .jibun::before {
    content: "지번";
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-right: 3px;
    padding: 0px 2px 0px 2px;
    color: rgba(0, 0, 0, 0.65);
}

#placesList .info .jibun {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/map1apidoc/places_jibun.png)
    no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/map1apidoc/marker_number_blue.png)
    no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px;
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}