<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}"
>

<head>
    <title>following</title>
    <link rel="stylesheet" href="/css/follow/following.css">
    <script src="/js/follow/follow.js"></script>
</head>

<body>
   <!-- header -->
    <!-- wrap -->
    <main class="following-wrap" layout:fragment="content">
        <div class="following-follower">
            <h2 class="d-none">메뉴</h2>
            <div class="following-selection">
                <p class="following">팔로잉</p>
                <p>|</p>
                <p class="follower"><a href="followerList">팔로워</a></p>
            </div>
        </div>    
        <div class="following-list">
            <h2 class="d-none">목록</h2>
            <ul class="followers">
                <li th:each="f : ${followings}">
                    <img src = "/images/profile/profile_yj.png" th:src="@{'/resources/img/' + ${f.profileImage}}">
                    <p th:text="${f.nickname}">연주</p>
                    <p class="following-statement">팔로잉</p>
                </li>
                <!-- <li>
                    <img src = "/images/profile/profile_d.png">
                    <p>채원</p>
                    <p class="following-statement">팔로잉</p>
                </li>
                <li>
                    <img src = "/images/profile/profile_c.png">
                    <p>도원</p>
                    <p class="following-statement">팔로잉</p>
                </li>
                <li>
                    <img src = "/images/profile/profile_yr.png">
                    <p>예린</p>
                    <p class="following-statement">팔로잉</p>
                </li> -->
            </ul>
        </div>     
    </main>
    <!-- wrap -->    
</body>
</html>