<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qa</title>
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/qa/list.css" type="text/css" rel="stylesheet">
    <script src="/js/qa/list.js"></script>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" id="wrap" class="wrap">
        <form class="qa-search" method="get" action="list">
            <div class="search-input">
                <image src="/images/qa/search.svg"></image>
                <input type="text" placeholder="궁금한 질문을 검색해 보세요!" name="q"> 
            </div>
            <button type="submit">검색</button>
        </form>
        <div class="qa-list">
            <h2 class="d-none">문의 목록</h2>
            <div class="qa-list-head">
                <div class="all-qa">
                    <p>전체 문의</p>
                    <p th:text="'(' + ${#lists.size(list)} + ')'"></p>
                </div>
            </div>
            <div class="qa-list-body qa" th:each="q : ${list}">
                <div>
                        <a class="item" a href="detail" th:href="@{../qa/detail(id=${q.id})}">
                            <div class="num" th:text="${q.newId}">150</div>
                            <div class="answer"></div>
                            <input type="hidden" name="qaStatus" th:value="${q.qaStatus}">
                            <div>
                                <div class="secret"></div>
                            </div>
                            <div class="titles" th:text="${q.title}">저희 조장을 신고합니다</div>
                            <div class="two-option">
                                <div class="nickname" th:text="${q.memberNickname}">예린짱짱123</div>
                                <div class="date" th:text="${#dates.format(q.regdate, 'yyyy-MM-dd')}">23.05.03</div>
                            </div>
                            <input type="hidden" name="writerId" th:value="${q.memberId}"/>
                            <input type="hidden" name="writerNickname" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.nickname}" />
                            <input type="hidden" name="loginId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.id}" />
                            <input type="hidden" name="roleId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.roleId}" />
                            <input type="hidden" name="isCheckedId" th:value="${q.securityCheck}" />
                            <input type="hidden" name="qaId" th:value="${q.id}" />
                        </a>
                </div>
            </div>
        </div>
        <div class="non-result" th:unless="${not #lists.isEmpty(list)}">
            <div>
                <p th:text="${searchResult}"></p>
                <p>  에 대한 검색 결과가 없습니다.</p>
            </div>
            <p>첫 글을 남겨 주세요!</p>
        </div>
                
        <div class="btn">
            <button class="write-btn"><a href="post">📝</a></button>
        </div>
    </main>
    <!-- wrap -->
</body>

</html>