<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qa</title>
    <link href="/css/import.css" type="text/css" rel="stylesheet">
    <link href="/css/qa/setting-qa.css" type="text/css" rel="stylesheet">
    <script src="/js/header/header.js"></script>
</head>

<body>
    <!-- wrap -->
    <main layout:fragment="content" id="wrap" class="wrap">
        <div class="qa-list">
            <h2 class="d-none">문의 목록</h2>
            <div class="qa-list-head">
                <div class="all-qa">전체 문의(150)</div>
            </div>
            <div class="qa-list-body qa" th:each="q : ${list}">
                <div class="item">
                    <div class="num" th:text="${q.id}">150</div>
                    <div class="answer">답변 예정</div>
                    <div class="secret"></div>
                    <div class="titles" th:text="${q.title}"><a herf="#">저희 조장을 신고합니다</a></div>
                    <div class="date" th:text="${q.regdate}">23.05.03</div>
                </div>
            </div>
        </div>
        <div class="write-button"><a href="./post">📝</a></div>
    </main>
    <!-- wrap -->
</body>

</html>