<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">

<head>
    <title>Document</title>
    <link href="/css/qa/detail.css" type="text/css" rel="stylesheet">
    <script src="/js/qa/post.js"></script>
</head>
<body>
    <!-- header -->
    <!-- wrap -->
    <main class="wrap" layout:fragment="content">
        <form class="qa-post-form">
            <div class="qa-list">
                <h2 class="d-none">공지사항 내용</h2>
                <div class="qa-box">
                    <div class="qa-content">
                        <div class="qa-title">
                            <input type="text" class="qa-title" name="title" placeholder="제목을 입력하세요" maxlength="80"></input>
                            <div class="qa-secret">
                                <label for="checkbox">비밀글</label>
                                <input type="checkbox" name="lock">
                            </div>
                        </div>
                        <textarea class="qa-context" name="content" rows="20" cols="100" placeholder="내용을 입력하세요"></textarea>
                        <div class="add-btn">
                            <button class="write-btn" onClick="location.href='list'">등록</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="memberId" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.id}">
                <input type="hidden" name="writerNickname" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.nickname}" />
            </div>
        </form>
    </main>
    <!-- /wrap -->
</body>
</html>