form{
    margin-top: 20px;
    margin-left: 10px;
}

.qa-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.qa-title input{
    flex: 1;
    max-width: 100;
    font-family: 'Pretendard-Regular';
    border: 1px solid #797979;
}

.qa-title, .qa-context > p{
    align-self: center;
}

.qa-context{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}


.qa-context textarea{
    flex: 1;
    margin-right: 10px;
    font-family: 'Pretendard-Regular';
    border: 1px solid #797979;
}

.btn {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.write-btn{

    width: 45px;
    height: 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    color: #797979;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}